@font-face {
    font-family: 'f1';
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}
body{
    background:url(Stone.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.content{
    flex:none;
    width:95%;
    display: flex;
    justify-content: flex-end;
   /*background-color: brown;*/
}
.option{
    flex: none;
    width: 3%;
    margin-right: 25px;
    margin-top: 10px;
    color:rgb(53, 50, 50);
    font-size: 32px;
    font-family:f1;
    font-weight: bold;
    text-align: center;
    /*background-color: yellow;*/
}
/*
.contact{

}
.info{
    
}
*/