
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.2rem;
}.item--hyo {
  background-color: #f6f2ec;
  border-radius: 3rem;
  width: 100%;
  height: 24.1rem;
  overflow: hidden;
  position: relative;

  .component-1-SgV {
    border-radius: 3rem;
    width: 39.7rem;
    height: 24rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .auto-group-g4yb-b3b {
      margin-left: 0.4rem;
      box-sizing: border-box;
      padding: 2.7rem 0.4rem 2.5rem 2.5rem;
      width: calc(100% - 0.4rem);
      display: flex;
      align-items: center;
      background-color: #c4bbb2;
      flex-shrink: 0;

      .item--6m3 {
        margin-right: 19.6rem;
        color: #000000;
        white-space: nowrap;
        font-family: Sulphur Point, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
      }
      .item--ofT {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Sulphur Point, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-9zaw-jJD {
      height: 16.8rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.2rem;
      width: 39.5rem;

      .rectangle-21-Tzu {
        border: solid 0.1rem #c4bbb2;
        backdrop-filter: blur(0.2rem);
        box-sizing: border-box;
        background-color: #e4e3e2;
        width: 36.1rem;
        height: 3.3rem;
        position: absolute;
        left: 1.5rem;
        top: 5.9rem;
      }
      .rectangle-22-Nry {
        width: 39.5rem;
        height: 7.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #ffffff -0%, rgba(251, 251, 251, 0.8975486159) 21.12%, rgba(225, 225, 225, 0.2159059793) 69.03%, rgba(217, 217, 217, 0) 100%);
      }
      .rectangle-23-epV {
        left: 0;
        top: 9.6rem;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0) 12.5%, rgba(225, 225, 225, 0.2159059793) 43.51%, rgba(251, 251, 251, 0.8975486159) 76.85%, #ffffff 112.5%);
        border-radius: 3rem;
        width: 39.3rem;
        height: 7.2rem;
        position: absolute;
      }
      .item--jb3 {
        box-sizing: border-box;
        padding: 1.6rem 2.1rem 0rem 2.1rem;
        width: 7.8rem;
        height: 10.4rem;
        position: absolute;
        left: 26.8rem;
        top: 2rem;
        align-items: center;
        overflow: hidden;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;

        .item-2009-MsK {
          margin-right: 0.1rem;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #000000;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-2005-GzH {
          text-align: center;
          font-size: 1.8rem;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-2004-ojK {
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .item-2003-jN5 {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-2002-fmX {
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin-left: 0.1rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-2001-oMw {
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
        }
        .item-2000-YqK {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-1999-hTK {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-1998-qpR {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-2006-nzZ {
          text-align: center;
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-1996-LFP {
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .item-1995-UsP {
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .item-1994-dVP {
          margin-left: 0.1rem;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-1993-AkD {
          margin-left: 0.1rem;
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-1992-i13 {
          text-align: center;
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 1.8rem;
          line-height: 1;
        }
        .item-1991-Shj {
          text-align: center;
          font-weight: 700;
          line-height: 1;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-1990-xg5 {
          flex-shrink: 0;
          font-weight: 700;
          white-space: nowrap;
          font-size: 1.8rem;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin-left: 0.1rem;
          text-align: center;
        }
        .item-2007-qUy {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-1988-m7j {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-1987-7Bb {
          margin-left: 0.1rem;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
        }
        .item-1986-2ZT {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-1985-NdK {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-1984-KoT {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          text-align: center;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-1983-GTo {
          flex-shrink: 0;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin-left: 0.1rem;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .item-1982-oTj {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-2008-9nV {
          margin-left: 0.1rem;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          color: #000000;
        }
        .item-1980-V5f {
          text-align: center;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-size: 1.8rem;
        }
        .item-1979-RED {
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          font-size: 1.8rem;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
        }
        .item-1978-Mdf {
          margin-left: 0.1rem;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-1977-6LM {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-1976-qYq {
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
        }
        .item-1975-Zzd {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin-left: 0.1rem;
          text-align: center;
        }
        .item-1974-hb3 {
          margin-left: 0.3rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          flex-shrink: 0;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .item--Rmw {
        padding: 1.9rem 0.4rem 0rem 0.4rem;
        height: 10.4rem;
        position: absolute;
        top: 1.7rem;
        overflow: hidden;
        box-sizing: border-box;
        width: 8rem;
        left: 16.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .item-31-gC5 {
          margin: 0rem 1.4rem 1.9rem 0rem;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-1-DbK {
          font-size: 1.8rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin: 0rem 0.8rem 1.5rem 0rem;
          text-align: center;
          line-height: 1;
          color: #000000;
        }
        .item-2-Xc1 {
          margin: 0rem 0.4rem 1.5rem 0rem;
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-3-qsb {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
        }
        .item-4-N6q {
          font-size: 1.8rem;
          white-space: nowrap;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
        }
        .item-5-gNR {
          line-height: 1;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-6-D7T {
          margin: 0rem 0.4rem 1.5rem 0rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-7-jrV {
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-8-2qb {
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1;
          white-space: nowrap;
        }
        .item-9-kmb {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.5rem 0rem;
          line-height: 1;
          font-weight: 700;
          text-align: center;
          font-size: 1.8rem;
        }
        .item-10-sbK {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          margin: 0rem 0.5rem 1.5rem 0rem;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-11-PZf {
          margin: 0rem 0.8rem 1.5rem 0rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          text-align: center;
          font-size: 1.8rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-12-iM3 {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
          text-align: center;
          line-height: 1;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .item-13-38R {
          line-height: 1;
          color: #000000;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
        }
        .item-14-NAh {
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          text-align: center;
          color: #000000;
          margin: 0rem 0.5rem 1.5rem 0rem;
        }
        .item-15-6cV {
          line-height: 1;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-16-cqj {
          margin: 0rem 0.5rem 1.5rem 0rem;
          flex-shrink: 0;
          white-space: nowrap;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .item-17-YDb {
          margin: 0rem 0.8rem 1.5rem 0rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-18-G9b {
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0.5rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
        }
        .item-19-ntd {
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          text-align: center;
          font-weight: 700;
          color: #000000;
          margin: 0rem 0.5rem 1.5rem 0rem;
        }
        .item-20-vE9 {
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0.8rem 1.5rem 0rem;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          flex-shrink: 0;
        }
        .item-21-FXK {
          line-height: 1;
          margin: 0rem 0.8rem 1.5rem 0rem;
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .item-22-apV {
          white-space: nowrap;
          font-size: 1.8rem;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          margin: 0rem 0.4rem 1.5rem 0rem;
          text-align: center;
          font-weight: 700;
          flex-shrink: 0;
        }
        .item-23-iA1 {
          text-align: center;
          font-weight: 700;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0.8rem 1.5rem 0rem;
          font-size: 1.8rem;
          line-height: 1;
          flex-shrink: 0;
        }
        .item-24-dnm {
          margin: 0rem 0.8rem 1.5rem 0rem;
          white-space: nowrap;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-25-ZAd {
          line-height: 1;
          color: #000000;
          flex-shrink: 0;
          font-size: 1.8rem;
          text-align: center;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0.4rem 1.5rem 0rem;
        }
        .item-26-V4H {
          font-family: Sulphur Point, 'Source Sans Pro';
          margin: 0rem 0.4rem 0.8rem 0rem;
          text-align: center;
          line-height: 1;
          color: #000000;
          font-size: 1.8rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-27-cPo {
          font-size: 1.8rem;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          margin: 0rem 0.8rem 1.5rem 0rem;
        }
        .item-28-wS5 {
          margin: 0rem 0.4rem 1.5rem 0rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-29-GUM {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.5rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .item-30-Q4m {
          font-size: 1.8rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1.5rem 0rem;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          text-align: center;
        }
        .auto-group-aopx-8Ff {
          margin: 0rem 1.5rem 1.5rem 0.7rem;
          width: calc(100% - 2.2rem);
          height: 1.8rem;
          position: relative;
          flex-shrink: 0;

          .item-31-qvm {
            height: 1.8rem;
            position: absolute;
            text-align: center;
            font-weight: 700;
            line-height: 1;
            color: #000000;
            font-family: Sulphur Point, 'Source Sans Pro';
            white-space: nowrap;
            width: 5rem;
            left: 0;
            top: 0;
            font-size: 1.8rem;
          }
          .item-31-knq {
            text-align: center;
            font-size: 1.8rem;
            color: #000000;
            font-family: Sulphur Point, 'Source Sans Pro';
            white-space: nowrap;
            width: 5rem;
            height: 1.8rem;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 700;
            line-height: 1;
          }
        }
        .item-1-UTw {
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.2rem 1.5rem 0rem;
          font-size: 1.8rem;
          line-height: 1;
          white-space: nowrap;
          text-align: center;
          font-weight: 700;
          color: #000000;
        }
        .item-2-boT {
          margin-right: 0.4rem;
          text-align: center;
          color: #000000;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .item--Xx1 {
        box-sizing: border-box;
        padding: 1.2rem 1.9rem 0rem 1.9rem;
        height: 9.6rem;
        position: absolute;
        overflow: hidden;
        align-items: center;
        width: 12.6rem;
        left: 3.9rem;
        top: 2.7rem;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;

        .decemver-CYM {
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .january-MAM {
          margin-right: 0.1rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          text-align: center;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .feburary-s8h {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .march-p3w {
          margin-right: 0.1rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .april-Z1X {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .may-tpV {
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .june-qzd {
          font-size: 1.8rem;
          line-height: 1;
          color: #000000;
          margin-right: 0.1rem;
          text-align: center;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .july-axD {
          color: #000000;
          flex-shrink: 0;
          text-align: center;
          line-height: 1;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.1rem;
          font-size: 1.8rem;
        }
        .august-7x9 {
          margin-right: 0.1rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .september-FoT {
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .october-Bh7 {
          line-height: 1;
          color: #000000;
          white-space: nowrap;
          margin-right: 0.1rem;
          font-weight: 700;
          font-family: Sulphur Point, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
        }
        .november-KoK {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .decemver-g85 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .january-pzy {
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .feburary-Aow {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
          color: #000000;
          font-family: Sulphur Point, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
