
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--qLR {
  width: 100%;
  height: 142.5rem;
  position: relative;
  overflow: hidden;
  background-color: #c4bbb2;

  .item--mE5 {
    font-weight: 700;
    white-space: nowrap;
    width: 34.1rem;
    top: 10.4rem;
    display: flex;
    left: 2.5rem;
    font-size: 2rem;
    font-family: Sulphur Point, 'Source Sans Pro';
    justify-content: center;
    line-height: 1;
    color: #000000;
    height: 1.7rem;
    position: absolute;
    text-align: center;
  }
  .item--qjj {
    font-family: Sulphur Point, 'Source Sans Pro';
    width: 8rem;
    height: 2rem;
    left: 2.5rem;
    top: 14.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    font-size: 2rem;
  }
  .item--9VX {
    color: #000000;
    white-space: nowrap;
    height: 2rem;
    left: 2.5rem;
    top: 27.1rem;
    line-height: 1;
    font-weight: 700;
    font-family: Sulphur Point, 'Source Sans Pro';
    width: 8rem;
    position: absolute;
    text-align: center;
    font-size: 2rem;
  }
  .item--Tm7 {
    color: #000000;
    width: 10rem;
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap;
    left: 2.5rem;
    top: 52.3rem;
    text-align: center;
    font-weight: 700;
    font-family: Sulphur Point, 'Source Sans Pro';
  }
  .item--AfX {
    font-size: 2rem;
    line-height: 1;
    color: #000000;
    font-family: Sulphur Point, 'Source Sans Pro';
    white-space: nowrap;
    top: 92.7rem;
    height: 2rem;
    position: absolute;
    left: 2.5rem;
    text-align: center;
    font-weight: 700;
    width: 10rem;
  }
  .item--GyT {
    height: 6.5rem;
    top: 18.5rem;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #000000;
    font-family: Sulphur Point, 'Source Sans Pro';
    width: 34.3rem;
    position: absolute;
    left: 2.5rem;
    font-weight: 400;

    .item--GyT-sub-0 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5625;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
    .item--GyT-sub-1 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
  }
  .item-7-14-80-80--sVP {
    position: absolute;
    left: 2.5rem;
    top: 31.2rem;
    font-weight: 400;
    font-family: Telex, 'Source Sans Pro';
    width: 34.3rem;
    height: 19rem;
    font-size: 1.6rem;
    line-height: 1.2050000429;
    color: #000000;
  }
  .ex-80-1680-800-800-80--iuK {
    position: absolute;
    left: 2.7rem;
    font-size: 1.6rem;
    width: 34.1rem;
    height: 34.2rem;
    line-height: 1.2050000429;
    color: #000000;
    font-family: Telex, 'Source Sans Pro';
    top: 56.4rem;
    font-weight: 400;
  }
  .stone-baby-8-00-21-00-2023-11-18--NMb {
    position: absolute;
    line-height: 1.2050000429;
    font-family: Telex, 'Source Sans Pro';
    width: 34.3rem;
    height: 22.8rem;
    left: 2.5rem;
    top: 96.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
  }
  .rectangle-12-V4q {
    height: 6.9rem;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.5);
    width: 39.3rem;
  }
  .group-48-1Yy {
    display: flex;
    align-items: flex-end;
    width: 34.4rem;
    height: 3rem;
    position: absolute;
    left: 2.4rem;
    top: 2rem;

    .stone-baby-8db {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.3rem;
      cursor: pointer;
      font-family: Sulphur Point, 'Source Sans Pro';
      line-height: 1;
      color: #000000;
      text-align: center;
      font-size: 2.9635rem;
      font-weight: 700;
    }
    .search-FTK {
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .user-AaH {
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
    }
    .shopping-cart-u25 {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    .menu-dCy {
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.4rem;
    }
  }
}
