
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--qGZ {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #f6f2ec;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;

  .auto-group-dh6s-ZiM {
    box-sizing: border-box;
    padding: 2.5rem 2rem 1.9rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .arrow-left-Vru {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 3.6rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
    .item--SGM {
      font-size: 2.9635rem;
      line-height: 1;
      color: #000000;
      white-space: nowrap;
      width: 100%;
      font-weight: 700;
      font-family: Sulphur Point, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
    }
  }
  .auto-group-djuy-ZLy {
    background-color: #c4bbb2;
    border-radius: 4.5rem 4.5rem 0 0;
    flex-shrink: 0;
    width: 46.2rem;
    height: 71.9rem;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3.1rem 0rem 15.3rem 0rem;
    display: flex;

    .group-27-4Yd {
      width: 34.3rem;
      height: 5.8rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.5rem 3.2rem 0rem;

      .rectangle-9-njX {
        left: 0;
        top: 1.3rem;
        border: solid 0.3rem #000000;
        box-sizing: border-box;
        cursor: pointer;
        height: 4.5rem;
        position: absolute;
        border-radius: 5rem;
        width: 34.3rem;
      }
      .rectangle-15-W9j {
        height: 2.7rem;
        position: absolute;
        left: 2.3rem;
        top: 0;
        background-color: #c4bbb2;
        width: 6.8rem;
      }
      .item--pw7 {
        position: absolute;
        top: 0.5rem;
        line-height: 1;
        font-family: Sulphur Point, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.3rem;
        height: 2rem;
        left: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6000000238);
      }
    }
    .group-28-7fK {
      margin: 0rem 2.5rem 3.2rem 0rem;
      width: 34.3rem;
      height: 5.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-9-eQM {
        position: absolute;
        left: 0;
        top: 1.3rem;
        box-sizing: border-box;
        width: 34.3rem;
        cursor: pointer;
        border: solid 0.3rem #000000;
        border-radius: 5rem;
        height: 4.5rem;
      }
      .rectangle-15-mUy {
        width: 4.8rem;
        height: 2.7rem;
        position: absolute;
        left: 2.3rem;
        top: 0;
        background-color: #c4bbb2;
      }
      .item--7Hw {
        position: absolute;
        color: rgba(0, 0, 0, 0.6000000238);
        top: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        font-family: Sulphur Point, 'Source Sans Pro';
        width: 5.1rem;
        height: 2rem;
        left: 2.8rem;
        white-space: nowrap;
      }
    }
    .group-29-QH3 {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.5rem 3.3rem 0rem;
      width: 34.3rem;
      height: 5.8rem;
      cursor: pointer;

      .rectangle-9-vmB {
        border-radius: 5rem;
        width: 34.3rem;
        height: 4.5rem;
        position: absolute;
        left: 0;
        top: 1.3rem;
        border: solid 0.3rem #000000;
        box-sizing: border-box;
      }
      .rectangle-15-4Mb {
        top: 0;
        background-color: #c4bbb2;
        width: 4.8rem;
        height: 2.7rem;
        position: absolute;
        left: 2.3rem;
      }
      .item--QRT {
        height: 2rem;
        position: absolute;
        left: 2.8rem;
        font-size: 2rem;
        font-family: Sulphur Point, 'Source Sans Pro';
        width: 5.1rem;
        top: 0.5rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(0, 0, 0, 0.6000000238);
        white-space: nowrap;
      }
      .vector-WzH {
        position: absolute;
        left: 31rem;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 0.6rem;
        cursor: pointer;
      }
    }
    .auto-group-ells-TPj {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.4rem 1rem 0rem;
      width: 34.4rem;
      height: 15.2rem;

      .vector-z8m {
        position: absolute;
        left: 31rem;
        top: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 0.6rem;
        cursor: pointer;
      }
      .frame-1-j6M {
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 16.5rem;
        top: 5.2rem;
        overflow: hidden;
      }
      .group-30-G6H {
        width: 34.3rem;
        height: 5.8rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-9-QiH {
          left: 0;
          width: 34.3rem;
          height: 4.5rem;
          position: absolute;
          box-sizing: border-box;
          border-radius: 5rem;
          cursor: pointer;
          top: 1.3rem;
          border: solid 0.3rem #000000;
        }
        .rectangle-15-wCR {
          height: 2.7rem;
          position: absolute;
          left: 2.3rem;
          top: 0;
          background-color: #c4bbb2;
          width: 8.5rem;
        }
        .item--5pR {
          left: 2.8rem;
          top: 0.5rem;
          color: rgba(0, 0, 0, 0.6000000238);
          white-space: nowrap;
          width: 8rem;
          height: 2rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
      }
      .group-31-nD3 {
        position: absolute;
        left: 0.1rem;
        top: 8.1rem;
        width: 34.3rem;
        height: 5.8rem;
        cursor: pointer;

        .rectangle-9-tG5 {
          left: 0;
          top: 1.3rem;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          border-radius: 5rem;
          width: 34.3rem;
          height: 4.5rem;
          position: absolute;
        }
        .rectangle-15-R17 {
          width: 8.5rem;
          height: 2.7rem;
          position: absolute;
          left: 2.3rem;
          top: 0;
          background-color: #c4bbb2;
        }
        .item--kZB {
          line-height: 1;
          color: rgba(0, 0, 0, 0.6000000238);
          white-space: nowrap;
          left: 2.8rem;
          top: 0.5rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Sulphur Point, 'Source Sans Pro';
          width: 8rem;
          height: 2rem;
          position: absolute;
        }
      }
    }
    .auto-group-izrr-3HP {
      flex-shrink: 0;
      margin: 0rem 5.4rem 3.3rem 0rem;
      width: calc(100% - 5.4rem);
      height: 2.4rem;
      display: flex;
      align-items: center;

      .auto-group-uhqd-mDP {
        margin-right: 0.2rem;
        width: 31.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .item--JUD {
          height: 1.8rem;
          color: #000000;
          left: 12rem;
          top: 0.3rem;
          text-align: center;
          letter-spacing: 0.2rem;
          white-space: nowrap;
          width: 10.8rem;
          cursor: pointer;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
          position: absolute;
          font-size: 2rem;
          font-weight: 700;
        }
        .item--nPP {
          font-weight: 700;
          letter-spacing: 0.2rem;
          color: #4f4b48;
          white-space: nowrap;
          width: 30.9rem;
          height: 1.7rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1;
          font-family: Sulphur Point, 'Source Sans Pro';
        }
        .check-tBX {
          left: 2.3rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
        }
        .item--d97 {
          font-size: 2rem;
          color: #4f4b48;
          font-family: Sulphur Point, 'Source Sans Pro';
          left: 23rem;
          height: 1.7rem;
          position: absolute;
          top: 0.3rem;
          text-align: center;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 0.2rem;
          width: 2rem;
          white-space: nowrap;
        }
      }
      .item--XEV {
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0.2rem;
        color: #000000;
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        font-family: Sulphur Point, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-v1lx-e4D {
      white-space: nowrap;
      height: 4.5rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 700;
      color: #ffffff;
      line-height: 1;
      font-family: Sulphur Point, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      border-radius: 5rem;
      flex-shrink: 0;
      margin-right: 2.4rem;
      width: 34.3rem;
      letter-spacing: 0.24rem;
      align-items: center;
      background-color: #000000;
    }
  }
}
