
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--B5w {
  overflow: hidden;
  background-color: #c4bbb2;
  width: 100%;
  height: 218.8rem;
  position: relative;

  .item--u1w {
    top: 10.4rem;
    color: #000000;
    display: flex;
    font-weight: 700;
    width: 34.1rem;
    text-align: center;
    justify-content: center;
    font-family: Sulphur Point, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 2.6rem;
    font-size: 2rem;
    line-height: 1;
  }
  .group-40-b9f {
    top: 14.4rem;
    width: 34.3rem;
    height: 6.2rem;
    position: absolute;
    left: 2.5rem;

    .item--vhj {
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 2rem;
    }
    .stone-baby-7--ECd {
      max-width: 34.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2050000429;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
  }
  .group-47-XBj {
    width: 34.2rem;
    height: 16.3rem;
    position: absolute;
    left: 2.5rem;
    top: 22.1rem;

    .item--3vm {
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
    }
    .item-7--Zu7 {
      max-width: 34.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2050000429;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
  }
  .group-41-6RB {
    width: 34.2rem;
    height: 5.8rem;
    position: absolute;
    left: 2.5rem;
    top: 39.9rem;

    .item--23w {
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
    }
    .stone-baby--8sf {
      line-height: 1.2050000599;
      color: #ff0000;
      font-family: Telex, 'Source Sans Pro';
      margin-left: 0.1rem;
      max-width: 34.1rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  .group-46-pEh {
    width: 34.3rem;
    height: 24rem;
    position: absolute;
    left: 2.5rem;
    top: 47.2rem;

    .item--kPF {
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.1rem 0.1rem;
      font-size: 2rem;
    }
    .facebook-7-11-7-9-493 {
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      max-width: 34.3rem;
      font-size: 1.6rem;

      .facebook-7-11-7-9-493-sub-0 {
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .facebook-7-11-7-9-493-sub-1 {
        font-weight: 400;
        line-height: 1;
        text-decoration-line: underline;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .facebook-7-11-7-9-493-sub-2 {
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .facebook-7-11-7-9-493-sub-3 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        text-decoration-line: underline;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
      .facebook-7-11-7-9-493-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
    }
  }
  .group-45-4Cu {
    height: 18.9rem;
    position: absolute;
    left: 2.5rem;
    top: 72.7rem;
    width: 34.3rem;

    .item--oAV {
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.1rem 0.1rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .item-80--KPj {
      max-width: 34.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2050000429;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
  }
  .group-44-Wcd {
    width: 34rem;
    height: 18.6rem;
    position: absolute;
    left: 2.5rem;
    top: 93.1rem;

    .item--SmB {
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.2rem 0.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
    }
    .facebook-7-11-14-30--N93 {
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      max-width: 34rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;

      .facebook-7-11-14-30--N93-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
      .facebook-7-11-14-30--N93-sub-1 {
        line-height: 1;
        text-decoration-line: underline;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .facebook-7-11-14-30--N93-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
      .facebook-7-11-14-30--N93-sub-3 {
        line-height: 1;
        text-decoration-line: underline;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .facebook-7-11-14-30--N93-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
    }
  }
  .group-43-Mx1 {
    position: absolute;
    left: 2.5rem;
    top: 113.2rem;
    width: 34.3rem;
    height: 16.4rem;

    .item--hW5 {
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 2rem;
    }
    .item--SCm {
      max-width: 34.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2050000429;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
  }
  .group-42-6Rj {
    width: 34.3rem;
    height: 22.5rem;
    position: absolute;
    left: 2.5rem;
    top: 131.1rem;

    .item--q8R {
      margin-bottom: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-15-05--Lay {
      line-height: 1.2050000429;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      max-width: 34.3rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  .stone-baby-stone-baby-8-00-21-00-2023-11-18--JJq {
    width: 34.3rem;
    top: 155.1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2050000429;
    color: #000000;
    font-family: Telex, 'Source Sans Pro';
    height: 16rem;
    position: absolute;
    left: 2.5rem;
  }
  .rectangle-11-RGy {
    width: 39.3rem;
    height: 6.9rem;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .group-40-x21 {
    left: 2.4rem;
    top: 2rem;
    display: flex;
    align-items: flex-end;
    width: 34.4rem;
    height: 3rem;
    position: absolute;

    .stone-baby-gCu {
      margin-right: 2.3rem;
      cursor: pointer;
      text-align: center;
      font-size: 2.9635rem;
      color: #000000;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1;
      font-family: Sulphur Point, 'Source Sans Pro';
      white-space: nowrap;
    }
    .search-Ch3 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
    }
    .user-Kmf {
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .shopping-cart-4DT {
      margin: 0rem 2.4rem 0.1rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .menu-axV {
      margin-bottom: 0.1rem;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
