
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27.9rem;
}.item--Nwf {
  width: 100%;
  overflow: hidden;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem 2rem 24.1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;

  .property-1default-5bB {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item--QdT {
      font-weight: 400;
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      cursor: pointer;
      text-align: center;
      flex-shrink: 0;
      width: 100%;
      font-size: 2rem;
      color: #000000;
    }
    .item--7Xs {
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      font-size: 2rem;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-20-dFK {
      height: 2.5367rem;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 12.775rem 0.963rem 0.2rem;
      width: calc(100% - 12.9752rem);
      cursor: pointer;
      align-items: center;
      box-sizing: border-box;
      padding-right: 0.6rem;

      .item--jJM {
        margin: 0rem 1.125rem 0.137rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .chevron-down-qcH {
        width: 1.2rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1367rem;
      }
    }
    .auto-group-pntd-APf {
      margin: 0rem 0rem 1.7rem 0.2rem;
      box-sizing: border-box;
      padding: 0.9rem 0rem 0.3rem 0rem;
      width: 15.5rem;
      flex-shrink: 0;

      .top-10-s3B {
        font-weight: 400;
        white-space: nowrap;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2rem;
        font-family: Telex, 'Source Sans Pro';
        width: 100%;
        line-height: 1.2050000191;
        color: #000000;
      }
      .all-zNh {
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
      }
    }
    .line-5-vn9 {
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
    }
    .item--T1P {
      width: 100%;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      line-height: 1.2050000827;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
    .item--aLu {
      cursor: pointer;
      text-align: center;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 400;
      flex-shrink: 0;
    }
    .item--ft9 {
      flex-shrink: 0;
      margin-bottom: 2rem;
      cursor: pointer;
      text-align: center;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      white-space: nowrap;
      width: 100%;
      font-size: 2rem;
      font-family: Telex, 'Source Sans Pro';
    }
    .line-6-B5o {
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
    }
    .item--hZw {
      width: 100%;
      text-align: center;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2050000827;
    }
    .item--RF3 {
      font-family: Telex, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2050000191;
    }
  }
  .property-1variant2-k2R {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 12rem;
    width: 100%;
    height: 47rem;

    .item--ThX {
      text-align: center;
      font-size: 2rem;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      width: 100%;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 400;
    }
    .item--zBf {
      color: #000000;
      text-align: center;
      line-height: 1.2050000191;
      font-size: 2rem;
      font-weight: 400;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
    }
    .frame-20-Ji9 {
      width: calc(100% - 12.9752rem);
      height: 2.5367rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.775rem 0.963rem 0.2rem;
      box-sizing: border-box;
      padding-right: 0.6rem;

      .item--pwP {
        flex-shrink: 0;
        margin: 0rem 1.125rem 0.137rem 0rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
      }
      .chevron-down-L93 {
        margin-top: 0.1367rem;
        width: 1.2rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-20-fh7 {
      row-gap: 0.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.5rem;
      width: 15.2rem;

      .new-in-1Pb {
        width: 100%;
        text-align: center;
        font-family: Telex, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
      }
      .new-in-XMw {
        width: 100%;
        font-size: 2rem;
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
      }
      .new-in-eSZ {
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
        width: 100%;
        text-align: center;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .top-10-NtM {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
    .all-Jn1 {
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.2050000191;
      text-align: center;
      font-size: 2rem;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
    }
    .line-5-3Do {
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
    }
    .item--N1B {
      text-align: center;
      line-height: 1.2050000827;
      white-space: nowrap;
      flex-shrink: 0;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .item--tVK {
      line-height: 1.2050000191;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      font-family: Telex, 'Source Sans Pro';
      width: 100%;
      text-align: center;
    }
    .item--1Zw {
      cursor: pointer;
      text-align: center;
      font-weight: 400;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
      line-height: 1.2050000191;
      color: #000000;
      flex-shrink: 0;
    }
    .line-6-Kad {
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
    }
    .item--raZ {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      line-height: 1.2050000827;
      color: #000000;
      white-space: nowrap;
      width: 100%;
    }
    .item--aWZ {
      white-space: nowrap;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .property-1variant3-7Fb {
    margin-bottom: 8.5rem;
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item--qSV {
      cursor: pointer;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
    .item--NSR {
      color: #000000;
      width: 100%;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      text-align: center;
    }
    .frame-20-t9s {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.775rem 0.963rem 0.2rem;
      box-sizing: border-box;
      padding-right: 0.6rem;
      width: calc(100% - 12.9752rem);
      height: 2.5367rem;

      .item--CAZ {
        margin: 0rem 1.125rem 0.137rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
      }
      .chevron-down-JDb {
        margin-top: 0.1367rem;
        width: 1.2rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-20-2fP {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.5rem;
      width: 15.2rem;
      row-gap: 0.4rem;

      .new-in-Mhf {
        width: 100%;
        text-align: center;
        font-weight: 400;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-family: Telex, 'Source Sans Pro';
      }
      .new-in-5tZ {
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
        width: 100%;
        cursor: pointer;
        text-align: center;
        line-height: 1.2050000191;
        white-space: nowrap;
      }
      .new-in-ctV {
        text-align: center;
        line-height: 1.2050000191;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
        cursor: pointer;
      }
    }
    .top-10-9Nd {
      text-align: center;
      font-weight: 400;
      width: 100%;
      font-size: 2rem;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
    }
    .all-fbs {
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      line-height: 1.2050000191;
    }
    .line-5-CLu {
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
    }
    .item--8EZ {
      width: 100%;
      text-align: center;
      font-size: 2.4rem;
      flex-shrink: 0;
      margin-bottom: 2rem;
      font-weight: 400;
      line-height: 1.2050000827;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--rgM {
      font-size: 2rem;
      line-height: 1.2050000191;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      cursor: pointer;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      color: #000000;
    }
    .item--BTj {
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.2050000191;
      margin-bottom: 2rem;
      text-align: center;
      font-weight: 400;
      flex-shrink: 0;
    }
    .line-6-53K {
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
    }
    .item--niR {
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      font-size: 2.4rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-bottom: 2rem;
      text-align: center;
      line-height: 1.2050000827;
    }
    .item--7Vo {
      line-height: 1.2050000191;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      width: 100%;
      font-size: 2rem;
      font-family: Telex, 'Source Sans Pro';
      text-align: center;
      font-weight: 400;
    }
  }
  .property-1variant4-SY5 {
    margin-bottom: 13rem;
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item--mKT {
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      margin-bottom: 2rem;
      width: 100%;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--6Mj {
      color: #000000;
      flex-shrink: 0;
      font-weight: 400;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
    }
    .frame-20-cqs {
      width: calc(100% - 12.9752rem);
      height: 2.5367rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.775rem 0.963rem 0.2rem;
      box-sizing: border-box;
      padding-right: 0.6rem;

      .item--LG5 {
        margin: 0rem 1.125rem 0.137rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2050000191;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
      }
      .chevron-down-3RP {
        margin-top: 0.1367rem;
        width: 1.2rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-20-msB {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0rem 0.9rem 0.5rem;
      width: 15.2rem;
      row-gap: 0.4rem;

      .new-in-hF3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        color: rgba(0, 0, 0, 0.5);
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2050000191;
      }
      .new-in-dPb {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        font-weight: 400;
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .new-in-kDK {
        text-align: center;
        line-height: 1.2050000191;
        color: #000000;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-weight: 400;
        font-size: 2rem;
      }
    }
    .top-10-gMs {
      text-align: center;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2050000191;
    }
    .all-Qof {
      text-align: center;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2rem;
    }
    .line-5-9WM {
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
    }
    .item--gFP {
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2050000827;
      font-family: Telex, 'Source Sans Pro';
      text-align: center;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--oau {
      font-weight: 400;
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 2rem;
      color: #000000;
    }
    .item--X17 {
      width: 100%;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2050000191;
      color: #000000;
      white-space: nowrap;
      margin-bottom: 2rem;
      font-weight: 400;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .line-6-3VF {
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
    }
    .item--NnR {
      margin-bottom: 2rem;
      font-weight: 400;
      color: #000000;
      width: 100%;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.2050000827;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--i5b {
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.2050000191;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
      width: 100%;
    }
  }
  .property-1variant5-qg1 {
    flex-shrink: 0;
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;

    .item--NR3 {
      width: 100%;
      cursor: pointer;
      text-align: center;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2050000191;
      flex-shrink: 0;
    }
    .item--JJh {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      margin-bottom: 2rem;
      width: 100%;
      line-height: 1.2050000191;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-20-cqB {
      margin: 0rem 12.775rem 0.963rem 0.2rem;
      padding-right: 0.6rem;
      cursor: pointer;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 12.9752rem);
      height: 2.5367rem;
      display: flex;
      align-items: center;

      .item--94R {
        margin: 0rem 1.125rem 0.137rem 0rem;
        text-align: center;
        line-height: 1.2050000191;
        color: #000000;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .chevron-down-rDj {
        flex-shrink: 0;
        margin-top: 0.1367rem;
        width: 1.2rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .frame-20-afX {
      margin: 0rem 0rem 0.9rem 0.5rem;
      width: 15.2rem;
      row-gap: 0.4rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .new-in-hk9 {
        width: 100%;
        text-align: center;
        font-family: Telex, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
      }
      .new-in-EVB {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
        font-family: Telex, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .new-in-mED {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2050000191;
        color: rgba(0, 0, 0, 0.5);
        font-family: Telex, 'Source Sans Pro';
        width: 100%;
        cursor: pointer;
        text-align: center;
      }
    }
    .top-10-h7s {
      margin-bottom: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2050000191;
      flex-shrink: 0;
    }
    .all-d1X {
      margin-bottom: 2rem;
      width: 100%;
      line-height: 1.2050000191;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
    }
    .line-5-ZQy {
      background-color: rgba(0, 0, 0, 0.400000006);
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
    }
    .item--hGH {
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      width: 100%;
      line-height: 1.2050000827;
      color: #000000;
      white-space: nowrap;
    }
    .item--2ZT {
      margin-bottom: 2rem;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2050000191;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      width: 100%;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--m1F {
      text-align: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 100%;
      cursor: pointer;
      font-size: 2rem;
    }
    .line-6-5Xj {
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.2rem;
      width: 23.7rem;
      height: 0.1rem;
      background-color: rgba(0, 0, 0, 0.400000006);
    }
    .item--c1s {
      text-align: center;
      font-weight: 400;
      line-height: 1.2050000827;
      color: #000000;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 2.4rem;
      flex-shrink: 0;
    }
    .item--Xed {
      line-height: 1.2050000191;
      font-family: Telex, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
    }
  }
}
