
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.android-keyboard-GEh {
  height: 24.8rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .keyboard-zwP {
    background-position: center;
    padding: 0.813rem 0.437rem 0.813rem 0.437rem;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:I48:9511;2:97');
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    display: flex;

    .group-26-Jx5 {
      height: 3.8623rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.6098rem;
      width: 100%;

      .group-7-dUZ {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-AzH {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 3.8623rem;
          position: absolute;
          left: 0;
        }
        .item-1-hzD {
          width: 1.4rem;
          height: 2.8rem;
          position: absolute;
          top: 0.4066rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          left: 1.0917rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.171875;
          color: #000000;
        }
      }
      .group-7-copy-mjB {
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.5458rem;

        .rectangle-4-KEu {
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .item-2-FeM {
          width: 1.4rem;
          color: #000000;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          height: 2.8rem;
          position: absolute;
          left: 0.9825rem;
          top: 0.4066rem;
          font-size: 2.4rem;
          font-weight: 400;
          white-space: nowrap;
        }
      }
      .group-22-Z9F {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-WKP {
          width: 3.275rem;
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .item-3-r8M {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.4rem;
          position: absolute;
          left: 0.9825rem;
          font-weight: 400;
          line-height: 1.171875;
          height: 2.8rem;
          top: 0.4066rem;
          font-size: 2.4rem;
        }
      }
      .group-7-copy-3-xBP {
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-VSD {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 3.8623rem;
          position: absolute;
        }
        .item-4-Eub {
          width: 1.4rem;
          height: 2.8rem;
          top: 0.4066rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 0.9825rem;
          font-size: 2.4rem;
          line-height: 1.171875;
          white-space: nowrap;
        }
      }
      .group-23-8zy {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;

        .rectangle-4-sxZ {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 3.8623rem;
        }
        .item-5-RUH {
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          top: 0.4066rem;
          color: #000000;
          white-space: nowrap;
          width: 1.4rem;
          height: 2.8rem;
          left: 0.9825rem;
        }
      }
      .group-25-LLM {
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;

        .rectangle-4-tMs {
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
        }
        .item-6-2ys {
          position: absolute;
          top: 0.4066rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.4rem;
          height: 2.8rem;
          line-height: 1.171875;
          left: 0.9825rem;
          font-weight: 400;
        }
      }
      .group-21-YBX {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-h4R {
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
        }
        .item-7-eEZ {
          top: 0.4066rem;
          font-weight: 400;
          line-height: 1.171875;
          color: #000000;
          white-space: nowrap;
          width: 1.4rem;
          position: absolute;
          left: 0.9825rem;
          height: 2.8rem;
          font-size: 2.4rem;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-7-copy-7-Mem {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-789 {
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
        }
        .item-8-3Xb {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          top: 0.4066rem;
          font-size: 2.4rem;
          color: #000000;
          left: 0.9825rem;
          font-weight: 400;
          line-height: 1.171875;
          width: 1.4rem;
          height: 2.8rem;
          position: absolute;
        }
      }
      .group-24-Yz9 {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-VuP {
          height: 3.8623rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
        }
        .item-9-FNm {
          white-space: nowrap;
          height: 2.8rem;
          left: 0.9825rem;
          top: 0.4066rem;
          font-size: 2.4rem;
          line-height: 1.171875;
          color: #000000;
          width: 1.4rem;
          position: absolute;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-7-copy-9-xHB {
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-WJh {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 3.8623rem;
        }
        .item-0-FGH {
          left: 0.9825rem;
          top: 0.4066rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          height: 2.8rem;
          line-height: 1.171875;
          color: #000000;
          white-space: nowrap;
          width: 1.4rem;
        }
      }
    }
    .group-16-ZGy {
      height: 4.0656rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.6098rem;
      width: 100%;

      .group-8-tKF {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;

        .rectangle-4-Ee1 {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .q-nQd {
          left: 0.8024rem;
          top: 0.5082rem;
          white-space: nowrap;
          width: 1.7rem;
          height: 2.8rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.171875;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-8-copy-6AR {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-Sk5 {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .w-CUM {
          line-height: 1.171875;
          left: 0.5408rem;
          top: 0.5082rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.2rem;
          height: 2.8rem;
        }
      }
      .group-8-copy-2-udf {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-TfB {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
        }
        .e-Csf {
          font-weight: 400;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-size: 2.4rem;
          left: 0.9584rem;
          top: 0.5082rem;
          color: #000000;
          width: 1.4rem;
          height: 2.8rem;
        }
      }
      .group-8-copy-3-X9F {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-rxD {
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .r-1KK {
          left: 0.8964rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.5rem;
          height: 2.8rem;
          position: absolute;
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.171875;
        }
      }
      .group-8-copy-4-X2m {
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-GW9 {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
        }
        .t-QsF {
          top: 0.5082rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.5rem;
          height: 2.8rem;
          position: absolute;
          left: 0.9214rem;
          line-height: 1.171875;
          color: #000000;
        }
      }
      .group-8-copy-5-j8q {
        margin-right: 0.7642rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-Us7 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
        }
        .y-qBs {
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.5rem;
          height: 2.8rem;
          position: absolute;
          left: 0.9162rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .group-8-copy-6-LPX {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-HJm {
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .u-q5P {
          left: 0.8535rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.171875;
          width: 1.6rem;
          height: 2.8rem;
          position: absolute;
          white-space: nowrap;
          top: 0.5082rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-8-copy-7-YVb {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-tZT {
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
        }
        .i-EdK {
          font-size: 2.4rem;
          line-height: 1.171875;
          color: #000000;
          width: 0.7rem;
          height: 2.8rem;
          position: absolute;
          left: 1.3467rem;
          top: 0.5082rem;
          white-space: nowrap;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-8-copy-8-kLm {
        flex-shrink: 0;
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;
        position: relative;

        .rectangle-4-uDf {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
        }
        .o-FHX {
          width: 1.7rem;
          height: 2.8rem;
          left: 0.8024rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          line-height: 1.171875;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-weight: 400;
        }
      }
      .group-8-copy-9-MrM {
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-KYH {
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .p-51f {
          font-size: 2.4rem;
          line-height: 1.171875;
          left: 0.8766rem;
          height: 2.8rem;
          position: absolute;
          top: 0.5082rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.6rem;
        }
      }
    }
    .group-17-PHF {
      margin: 0rem 1.965rem 0.61rem 1.965rem;
      width: calc(100% - 3.93rem);
      height: 4.0656rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-8-copy-10-tjo {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-SFX {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .a-NQ5 {
          left: 0.8484rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.6rem;
          height: 2.8rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.171875;
          white-space: nowrap;
        }
      }
      .group-8-copy-11-5ZP {
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;

        .rectangle-4-dau {
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .s-BcR {
          left: 0.9258rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          height: 2.8rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.171875;
          white-space: nowrap;
          width: 1.5rem;
        }
      }
      .group-8-copy-12-hqf {
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-riZ {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .d-bw3 {
          position: absolute;
          left: 0.844rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.6rem;
          height: 2.8rem;
          line-height: 1.171875;
          white-space: nowrap;
        }
      }
      .group-8-copy-13-vCd {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;

        .rectangle-4-GnH {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
        }
        .f-2WZ {
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          left: 0.9789rem;
          top: 0.5082rem;
          position: absolute;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.4rem;
          height: 2.8rem;
        }
      }
      .group-8-copy-14-kSZ {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-6WR {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .g-F8R {
          font-family: Roboto, 'Source Sans Pro';
          width: 1.7rem;
          height: 2.8rem;
          left: 0.8107rem;
          top: 0.5082rem;
          font-size: 2.4rem;
          line-height: 1.171875;
          position: absolute;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .group-8-copy-15-Mx9 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 0.655rem;
        width: 3.275rem;

        .rectangle-4-Wa9 {
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .h-GJR {
          top: 0.5082rem;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 0.7691rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.171875;
          color: #000000;
          width: 1.8rem;
          height: 2.8rem;
          white-space: nowrap;
        }
      }
      .group-8-copy-16-nGm {
        margin-right: 0.5458rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-8Ld {
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .j-Gxd {
          height: 2.8rem;
          position: absolute;
          left: 0.9802rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.4rem;
          top: 0.5082rem;
          color: #000000;
          white-space: nowrap;
        }
      }
      .group-8-copy-17-PnM {
        margin-right: 0.655rem;
        width: 3.275rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-k77 {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
        }
        .k-h2M {
          position: absolute;
          font-size: 2.4rem;
          line-height: 1.171875;
          height: 2.8rem;
          left: 0.8817rem;
          top: 0.5082rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.6rem;
        }
      }
      .group-8-copy-18-Cjo {
        flex-shrink: 0;
        width: 3.275rem;
        height: 100%;
        position: relative;

        .rectangle-4-9uw {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 3.275rem;
          height: 4.0656rem;
          position: absolute;
          left: 0;
        }
        .l-Jnq {
          color: #000000;
          white-space: nowrap;
          position: absolute;
          top: 0.5082rem;
          font-size: 2.4rem;
          line-height: 1.171875;
          font-family: Roboto, 'Source Sans Pro';
          width: 1.3rem;
          height: 2.8rem;
          left: 0.9981rem;
          font-weight: 400;
        }
      }
    }
    .group-19-pmB {
      margin-bottom: 0.8131rem;
      width: 100%;
      height: 4.0656rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-9-Zyf {
        margin-right: 0.655rem;
        width: 5.4583rem;
        height: 4.0656rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-18-7VP {
        margin-right: 0.655rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-8-copy-19-Fbb {
          margin-right: 0.5458rem;
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-Cmj {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
          }
          .z-Yah {
            left: 0.9188rem;
            font-size: 2.4rem;
            line-height: 1.171875;
            height: 2.8rem;
            position: absolute;
            font-weight: 400;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.5rem;
            top: 0.5082rem;
          }
        }
        .group-8-copy-20-Tjb {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.5458rem;
          width: 3.275rem;

          .rectangle-4-1WD {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
            position: absolute;
            left: 0;
          }
          .x-Z1w {
            height: 2.8rem;
            position: absolute;
            line-height: 1.171875;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.6rem;
            top: 0.5082rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            left: 0.8817rem;
          }
        }
        .group-8-copy-21-GBF {
          position: relative;
          flex-shrink: 0;
          margin-right: 0.5458rem;
          width: 3.275rem;
          height: 100%;

          .rectangle-4-R49 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
          }
          .c-MyP {
            top: 0.5082rem;
            line-height: 1.171875;
            white-space: nowrap;
            width: 1.6rem;
            height: 2.8rem;
            position: absolute;
            left: 0.8503rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .group-8-copy-22-TWd {
          margin-right: 0.5458rem;
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-QAy {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
            position: absolute;
            left: 0;
          }
          .v-kEq {
            left: 0.8695rem;
            top: 0.5082rem;
            font-weight: 400;
            white-space: nowrap;
            height: 2.8rem;
            position: absolute;
            font-size: 2.4rem;
            line-height: 1.171875;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            width: 1.6rem;
          }
        }
        .group-8-copy-23-4mK {
          margin-right: 0.5458rem;
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-pVb {
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .b-ZTB {
            line-height: 1.171875;
            font-family: Roboto, 'Source Sans Pro';
            width: 1.5rem;
            position: absolute;
            top: 0.5082rem;
            font-size: 2.4rem;
            white-space: nowrap;
            height: 2.8rem;
            left: 0.8875rem;
            font-weight: 400;
            color: #000000;
          }
        }
        .group-8-copy-24-5Ad {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.5458rem;
          width: 3.275rem;

          .rectangle-4-Qyb {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.0656rem;
          }
          .n-Mtq {
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.8rem;
            height: 2.8rem;
            position: absolute;
            left: 0.7691rem;
            font-size: 2.4rem;
            top: 0.5082rem;
            line-height: 1.171875;
            color: #000000;
          }
        }
        .group-8-copy-25-Gku {
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-ESq {
            width: 3.275rem;
            height: 4.0656rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .m-mxZ {
            font-family: Roboto, 'Source Sans Pro';
            width: 2.1rem;
            height: 2.8rem;
            position: absolute;
            left: 0.5593rem;
            font-weight: 400;
            line-height: 1.171875;
            color: #000000;
            white-space: nowrap;
            top: 0.5082rem;
            font-size: 2.4rem;
          }
        }
      }
      .group-11-tGV {
        vertical-align: top;
        flex-shrink: 0;
        width: 5.4583rem;
        height: 4.0656rem;
        position: relative;
        object-fit: contain;
      }
    }
    .auto-group-uzmz-djs {
      width: 100%;
      height: 4.4721rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-20-zKX {
        margin-right: 0.4367rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-10-jY1 {
          margin-right: 0.4367rem;
          width: 5.4583rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-gi9 {
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I48:9511;2:296');
            width: 5.4583rem;
            height: 4.4721rem;
            left: 0;
            top: 0;

            .vector-32u {
              vertical-align: top;
              width: 5.4583rem;
              height: 4.4721rem;
              object-fit: contain;
            }
          }
          .item-123-mDo {
            white-space: nowrap;
            position: absolute;
            top: 1.2197rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.171875;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            width: 3.5rem;
            height: 1.9rem;
            left: 0.9002rem;
          }
        }
        .group-8-copy-26-4To {
          margin-right: 0.4367rem;
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-DLh {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
            height: 4.4721rem;
          }
          .item--ZfT {
            height: 2.3rem;
            left: 1.4232rem;
            font-weight: 400;
            line-height: 1.171875;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 0.4rem;
            position: absolute;
            top: 1.3213rem;
            font-size: 2rem;
            color: #000000;
          }
        }
        .group-15-sg9 {
          margin-right: 0.4367rem;
          width: 19.3225rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-2ow {
            left: 0;
            background-image: url('REPLACE_IMAGE:I48:9511;2:316');
            background-repeat: no-repeat;
            background-position: center;
            width: 19.3225rem;
            height: 4.4721rem;
            position: absolute;
            top: 0;
            background-size: cover;

            .vector-nHK {
              width: 19.3225rem;
              height: 4.4721rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .en-lv-K2M {
            line-height: 1.171875;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.5rem;
            left: 7.149rem;
            font-weight: 400;
            font-size: 1.4rem;
            height: 1.6rem;
            position: absolute;
            top: 1.3213rem;
          }
        }
        .group-8-copy-27-DNd {
          width: 3.275rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-4-Aof {
            height: 4.4721rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.275rem;
          }
          .item--vH3 {
            position: absolute;
            left: 1.3502rem;
            top: 1.3213rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.171875;
            width: 0.6rem;
            height: 2.3rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .action-button-cvZ {
        width: 5.3492rem;
        height: 4.4721rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
