
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6.7rem;
}.check-33j {
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
  position: relative;

  .property-1default-Au3 {
    margin: 0rem 0.3rem 3rem 0rem;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .property-1check-square-GhB {
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    object-fit: contain;
  }
}
