
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6.7rem;
}.checkcircle-7Ch {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  padding: 2.2rem 2.1rem 1.9rem 1.8rem;
  overflow: hidden;

  .property-1default-Gjo {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0.4rem 2.9rem 0rem;
  }
  .property-1check-circle-x6q {
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 0.4rem;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    object-fit: contain;
  }
}
