<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>與我們合作</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-31X.css"/>
</head>
<body>
<div class="item--cHB">
  <div class="rectangle-14-YAq">
  </div>
  <div class="group-50-Gcd">
    <p class="stone-baby-bQ1">Stone Baby</p>
    <img class="search-WWy" src="../static/babystone/img/search.png"/>
    <img class="user-drV" src="../static/babystone/img/user.png"/>
    <img class="shopping-cart-mSu" src="../static/babystone/img/shopping-cart-black.png"/>
    <img class="menu-JBw" src="../static/babystone/img/menu.png"/>
  </div>
  <div class="stonebabygmailcom-stone-baby-8-00-21-00-2023-11-18--39X">
  非常開心你想要與我們合作，
  <br/>
  請將你的「具體提案說明」來信到：
  <br/>
  stonebaby@gmail.com
  <br/>
  我們收到你的提案後，
  <br/>
  會盡快請專人與你聯繫，謝謝！
  <br/>
  有任何其他問題歡迎，
  <br/>
  洽詢 Stone Baby 線上客服！
  <br/>
  服務時間：上班日 8:00 - 21:00
  <br/>
  更新日期：2023 年 11 月 18 日
  </div>
  <div class="cooperation-Nb7">
  
  <br/>
  與 我 們 合 作 Cooperation
  </div>
</div>
</body>