<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>隱私權政策</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-hss.css"/>
</head>
<body>
<div class="item--B5w">
  <div class="item--u1w">隱私權政策</div>
  <div class="group-40-b9f">
    <p class="stone-baby-7--ECd">Stone Baby 蒐集您個人資料之目的係為確認身分及建立您的會員資料檔案，並完成您交易款項及履約保證服務，同時向您提供本公司完成交易服務之相關訊息
      <br/>
      主要例示如下：</p>
      <br/>
    <p class="item--vhj">使用本公司提供之各項服務</p>
  </div>
  <div class="group-47-XBj">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="item--3vm">退換貨重點注意事項</p>
    <p class="item-7--Zu7">
    對商品預購、購買、參與贈獎等之活動或從事其他交易時，關於商品配送、服務提供、價金給付、回覆客戶之詢問、本公司對客戶之詢問、相關售後服務及其他為完成交易所必要之業務
    </p>
    <br />
    <br />
    <p class="item--3vm">個人資料的利用</p>
    <p class="item-7--Zu7">
      Stone Baby 所蒐集的足以識別使用者身分的個人資料、消費與交易資料，或日後經您同意而提供之其他個人資料，都僅供 Stone Baby
      於其內部、依照蒐集之目的進行處理和利用、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關（包括但不限於法院或台灣票據交換所）之命令或要求，否則
      Stone Baby不會將足以識別使用者身分的個人資料提供給本隱私權條款的第三人（包括境內及境外）</p>
    </p>
    <br />
    <br />
    <p class="item--3vm">
      資料當事人之權利
    </p>
    <p class="item-7--Zu7">
    資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本。若您的個人資料有變更、或發現您的個人資料不正確，可以向 Stone Baby 要求修改或更正；如您所提供之資料錯誤或缺漏，則不受本隱私權聲明之保護。您可要求刪除、停止處理或利用個人資料。
    </p>
    <br />
    <br />
    <p class="item--3vm">
      隱私權保護政策之修正
    </p>
    <p class="item-7--Zu7">
      Stone Baby 有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在 Stone Baby 網站，不另行個別通知，您同意更新的隱私權條款仍對您發生效力，因此，您有義務亦隨時可以在Stone Baby 網站上詳閱最新版本的隱私權聲明及相關告知事項。
    </p>
    <br/>
    <br />
    <p class="item-7--Zu7">
    有任何其他問題歡迎洽詢 Stone Baby 線上客服
    <br />
    服務時間：上班日 8:00 - 21:00
    <br />
    更新日期：2023 年 11 月 18 日
    </p>

  </div>
  <div class="rectangle-11-RGy">
  </div>
  <div class="group-40-x21">
    <p class="stone-baby-gCu">Stone Baby</p>
    <img class="search-Ch3" src="../static/babystone/img/search.png"/>
    <img class="user-Kmf" src="../static/babystone/img/user.png"/>
    <img class="shopping-cart-4DT" src="../static/babystone/img/shopping-cart-black.png"/>
    <img class="menu-axV" src="../static/babystone/img/menu.png"/>
  </div>
</div>
</body>