<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>使用者條款</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-hss.css"/>
</head>
<body>
  
<div class="item--B5w">
  <div class="item--u1w">使用者條款</div>
  <div class="group-40-b9f">
    <p class="item--vhj">為維護雙方權益，客戶在接受商品訂購的同時，有義務遵守以下交易條款</p>
    <span class="stone-baby-7--ECd">1. 訂購商品價格以 Stone Baby 最終決議價格為主
    <br/>
    2. 請填寫您的真實姓名、送貨地址及聯繫方式
    <br/>
    3. 訂購前皆已詳細閱讀並同意購物須知及售後服務說明
    <br/>
    4. 商品到貨時務必前往領取及簽收</span>
  </div>
  <div class="group-47-XBj">
    <br/>
    <br/>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <p class="item--3vm">因如下情況造成訂單延遲、無法配送、產生運費等，Stone Baby 不承擔責任</p>
    <p class="item-7--Zu7">
    1. 訂單內容不完整
    <br/>
    2. 提供錯誤訊息和不詳細的地址
    <br/>
    3. 貨物送達無人簽收，由此造成的重複配送所產生的費用及相關責任
    </p>
  </div>
  
  <p class="stone-baby-stone-baby-8-00-21-00-2023-11-18--JJq">
  Stone Baby 誠摯地希望與每一位顧客建立良好的交易關係，但如惡意訂購及退貨或無法同意 / 配合相關規範，我們保留將會員帳號納入黑名單之權利
  <br/>
  
  <br/>
  有任何其他問題歡迎洽詢 Stone Baby 線上客服
  <br/>
  服務時間：上班日 8:00 - 21:00
  <br/>
  更新日期：2023 年 11 月 18 日
  </p>
  <div class="rectangle-11-RGy">
  </div>
  <div class="group-40-x21">
    <p class="stone-baby-gCu">Stone Baby</p>
    <img class="search-Ch3" src="../static/babystone/img/search.png"/>
    <img class="user-Kmf" src="../static/babystone/img/user.png"/>
    <img class="shopping-cart-4DT" src="../static/babystone/img/shopping-cart-black.png"/>
    <img class="menu-axV" src="../static/babystone/img/menu.png"/>
  </div>
</div>
</body>