<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>個人頁面</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/basic_data.css"/>
</head>
<body>
<div class="item--EPf">
  <div class="auto-group-bzeh-9Wd">
    <img class="arrow-left-HMw" src="./assets/arrow-left-vs7.png"/>
    <p class="item--NuB">哈囉！</p>
  </div>
  <div class="auto-group-sxuh-HWM">
    <div class="auto-group-9ckd-zff">
      <img class="file-text-YBP" src="./assets/file-text.png"/>
      <div class="item--sUZ">個人資料</div>
    </div>
    <div class="auto-group-fza5-a85">
      <img class="edit-3-vBw" src="./assets/edit-3.png"/>
      <div class="item--Svy">訂單紀錄</div>
    </div>
    <div class="auto-group-ehgh-BNm">
      <img class="truck-wMw" src="./assets/truck.png"/>
      <div class="item--QWR">訂單狀態</div>
    </div>
    <div class="auto-group-dqnv-wFT">
      <img class="shopping-cart-HaD" src="./assets/shopping-cart-wqF.png"/>
      <div class="item--2Xo">購物車</div>
    </div>
    <div class="auto-group-cyzv-AP7">
      <img class="moon-tpu" src="./assets/moon.png"/>
      <div class="item--cW1">登出</div>
    </div>
  </div>
</div>
</body>