<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>商品頁面-賣家</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/-B4H.css"/>
</head>
<body>
<div class="item--HHf">
  <div class="item--MYR">
    <div class="group-1-2uT">
      <p class="stone-baby-yJu">Stone Baby</p>
      <img class="search-fSd" src="./assets/search.png"/>
      <img class="user-MqF" src="./assets/user-Ezq.png"/>
      <img class="shopping-cart-VRf" src="./assets/shopping-cart-NEH.png"/>
      <img class="menu-Pmw" src="./assets/menu.png"/>
    </div>
  </div>
  <div class="group-84-HcR">
    <p class="item--1oK">新品上架</p>
    <div class="auto-group-zfpb-hg9">
      <img class="rectangle-11-4Fo" src="./assets/rectangle-11-tcu.png"/>
      <div class="rectangle-12-MVo">
      </div>
    </div>
    <div class="auto-group-hp4u-eUu">
      <div class="auto-group-kpkh-PxH">
        <div class="item--WX7">呆萌小石頭</div>
        <div class="item--DRX">石頭明信片組</div>
      </div>
      <div class="auto-group-9ynh-Vtq">
        <div class="nt60-dk9">NT$60</div>
        <div class="nt70-XqX">NT$70</div>
      </div>
      <div class="auto-group-cj6z-fRw">
        <div class="group-40-baV">
          <img class="shopping-cart-8aR" src="./assets/shopping-cart-hss.png"/>
        </div>
        <div class="group-41-qUq">
          <img class="shopping-cart-yb3" src="./assets/shopping-cart-wPj.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="group-83-U21">
    <p class="top-10-NdB">本月熱賣商品 TOP 10</p>
    <div class="auto-group-gpnv-Hk9">
      <div class="auto-group-jt7t-cXX">
        <img class="rectangle-10-mfK" src="./assets/rectangle-10-tHT.png"/>
      </div>
      <div class="rectangle-5-BU9">
      </div>
    </div>
    <div class="auto-group-1bvo-5pR">
      <div class="auto-group-vbuz-Qrh">
        <div class="item--M1F">呆萌小石頭</div>
        <div class="item--qSD">石頭明信片組</div>
      </div>
      <div class="auto-group-3hgh-jGh">
        <div class="nt60-P6M">NT$60</div>
        <div class="nt70-t37">NT$70</div>
      </div>
      <div class="auto-group-dyk1-R33">
        <div class="group-29-kr1">
          <img class="shopping-cart-GZT" src="./assets/shopping-cart-wvM.png"/>
        </div>
        <div class="group-30-9dF">
          <img class="shopping-cart-taq" src="./assets/shopping-cart-eTF.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-tsqp-B49">
      <img class="rectangle-6-8zy" src="./assets/rectangle-6.png"/>
      <img class="rectangle-7-GLV" src="./assets/rectangle-7-PY1.png"/>
    </div>
    <div class="auto-group-9rjj-Czq">
      <div class="auto-group-knht-whX">
        <div class="item--s5P">溫馨石頭小家</div>
        <div class="item--B65">可愛石頭甜點屋</div>
      </div>
      <div class="auto-group-tvly-Heu">
        <div class="nt250-p93">NT$250</div>
        <div class="nt300-Ja1">NT$300</div>
      </div>
      <div class="auto-group-4mph-RuX">
        <div class="group-31-9qX">
          <img class="shopping-cart-fYy" src="./assets/shopping-cart-Usw.png"/>
        </div>
        <div class="group-33-NyB">
          <img class="shopping-cart-j33" src="./assets/shopping-cart-b8q.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-jfuf-33j">
      <img class="rectangle-8-CSR" src="./assets/rectangle-8-gGM.png"/>
      <img class="rectangle-9-u5w" src="./assets/rectangle-9.png"/>
    </div>
    <div class="auto-group-vgez-Etu">
      <div class="auto-group-aald-B3T">
        <div class="item--5ed">派大星冠軍石頭</div>
        <div class="item--b7B">比奇堡現採石頭</div>
      </div>
      <div class="auto-group-r5iv-hg1">
        <div class="nt50-DeM">NT$50</div>
        <div class="nt35-waM">NT$35</div>
      </div>
      <div class="auto-group-upz5-g29">
        <div class="group-34-Qyj">
          <img class="shopping-cart-9wK" src="./assets/shopping-cart.png"/>
        </div>
        <div class="group-35-fem">
          <img class="shopping-cart-yvM" src="./assets/shopping-cart-RJm.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-thzm-tGd">
      <img class="rectangle-6-QVs" src="./assets/rectangle-6-pdK.png"/>
      <img class="rectangle-7-XqP" src="./assets/rectangle-7-VBj.png"/>
    </div>
    <div class="auto-group-uhqf-GY5">
      <div class="auto-group-j2xf-P6u">
        <div class="item--v6q">海精靈石頭組</div>
        <div class="item--ENR">石頭珍珠貝殼</div>
      </div>
      <div class="auto-group-ez1p-XMX">
        <div class="nt150-G4D">NT$150</div>
        <div class="nt90-nYM">NT$90</div>
      </div>
      <div class="auto-group-a5vx-hQR">
        <div class="group-36-RbK">
          <img class="shopping-cart-mQH" src="./assets/shopping-cart-a1K.png"/>
        </div>
        <div class="group-37-4PP">
          <img class="shopping-cart-CkV" src="./assets/shopping-cart-Qqj.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-zpwd-WmB">
      <img class="rectangle-8-TAd" src="./assets/rectangle-8-Ypd.png"/>
      <img class="rectangle-9-zRT" src="./assets/rectangle-9-cJy.png"/>
    </div>
    <div class="auto-group-u9sm-8Xf">
      <div class="auto-group-qhwu-5C1">
        <div class="item--ns7">爆炒鵝卵石</div>
        <div class="item--K6M">派大星石頭屋</div>
      </div>
      <div class="auto-group-s2p5-QtV">
        <div class="nt50-MHw">NT$50</div>
        <div class="nt1000-UNZ">NT$1000</div>
      </div>
      <div class="auto-group-smfs-awP">
        <div class="group-38-L9s">
          <img class="shopping-cart-fhw" src="./assets/shopping-cart-dfs.png"/>
        </div>
        <div class="group-39-N6Z">
          <img class="shopping-cart-iRK" src="./assets/shopping-cart-9nV.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="group-85-d2V">
    <p class="item--ukh">所有商品</p>
    <div class="auto-group-qy8h-btR">
      <div class="auto-group-me4d-MMo">
        <img class="rectangle-10-VD7" src="./assets/rectangle-10-Q85.png"/>
      </div>
      <div class="rectangle-5-zff">
      </div>
    </div>
    <div class="auto-group-md7b-sUZ">
      <div class="auto-group-6mzw-QDb">
        <div class="item--wDX">呆萌小石頭</div>
        <div class="item--FED">石頭明信片組</div>
      </div>
      <div class="auto-group-zgmb-jv5">
        <div class="nt60-rjo">NT$60</div>
        <div class="nt70-afo">NT$70</div>
      </div>
      <div class="auto-group-knpd-7fj">
        <div class="group-29-4L5">
          <img class="shopping-cart-CBP" src="./assets/shopping-cart-qiM.png"/>
        </div>
        <div class="group-30-ta1">
          <img class="shopping-cart-pCm" src="./assets/shopping-cart-Dz5.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-mgf7-8UM">
      <img class="rectangle-6-Hs3" src="./assets/rectangle-6-86q.png"/>
      <img class="rectangle-7-dAD" src="./assets/rectangle-7-a5B.png"/>
    </div>
    <div class="auto-group-u2vr-kEq">
      <div class="auto-group-hy6q-t69">
        <div class="item--QqB">溫馨石頭小家</div>
        <div class="item--KhF">可愛石頭甜點屋</div>
      </div>
      <div class="auto-group-7rad-D1w">
        <div class="nt250-9RP">NT$250</div>
        <div class="nt300-549">NT$300</div>
      </div>
      <div class="auto-group-zvnh-AbP">
        <div class="group-31-cyB">
          <img class="shopping-cart-LuB" src="./assets/shopping-cart-VkR.png"/>
        </div>
        <div class="group-33-TU1">
          <img class="shopping-cart-bq7" src="./assets/shopping-cart-ic5.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-cogy-gLm">
      <img class="rectangle-8-Et5" src="./assets/rectangle-8-Jvh.png"/>
      <img class="rectangle-9-mt1" src="./assets/rectangle-9-mP3.png"/>
    </div>
    <div class="auto-group-udvd-Wqb">
      <div class="auto-group-giow-rPf">
        <div class="item--Bgq">派大星冠軍石頭</div>
        <div class="item--4Vj">比奇堡現採石頭</div>
      </div>
      <div class="auto-group-dqdf-m9F">
        <div class="nt50-tzZ">NT$50</div>
        <div class="nt35-25B">NT$35</div>
      </div>
      <div class="auto-group-awwb-kWy">
        <div class="group-34-VDf">
          <img class="shopping-cart-2UV" src="./assets/shopping-cart-eYD.png"/>
        </div>
        <div class="group-35-WeZ">
          <img class="shopping-cart-TZo" src="./assets/shopping-cart-yrD.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-t3dw-mKb">
      <img class="rectangle-6-uAu" src="./assets/rectangle-6-N77.png"/>
      <img class="rectangle-7-32D" src="./assets/rectangle-7-qND.png"/>
    </div>
    <div class="auto-group-h5gr-mD7">
      <div class="auto-group-um9w-5Do">
        <div class="item--cDj">海精靈石頭組</div>
        <div class="item--JcM">石頭珍珠貝殼</div>
      </div>
      <div class="auto-group-h4pw-Chj">
        <div class="nt150-Xzu">NT$150</div>
        <div class="nt90-S6H">NT$90</div>
      </div>
      <div class="auto-group-nzrv-Zgh">
        <div class="group-36-JeH">
          <img class="shopping-cart-3bs" src="./assets/shopping-cart-vp5.png"/>
        </div>
        <div class="group-37-ZaD">
          <img class="shopping-cart-WVT" src="./assets/shopping-cart-3yw.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-fdg9-BLh">
      <img class="rectangle-8-irR" src="./assets/rectangle-8-pVT.png"/>
      <img class="rectangle-9-rhj" src="./assets/rectangle-9-Ar1.png"/>
    </div>
    <div class="auto-group-tx8r-CWh">
      <div class="auto-group-ajev-wz5">
        <div class="item--3XK">爆炒鵝卵石</div>
        <div class="item--Abw">派大星石頭屋</div>
      </div>
      <div class="auto-group-ytqp-5yo">
        <div class="nt50-R25">NT$50</div>
        <div class="nt1000-MRX">NT$1000</div>
      </div>
      <div class="auto-group-dnsf-s8y">
        <div class="group-38-QPo">
          <img class="shopping-cart-HyP" src="./assets/shopping-cart-9kZ.png"/>
        </div>
        <div class="group-39-1Pb">
          <img class="shopping-cart-xJq" src="./assets/shopping-cart-aSH.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="plus-product-rf7">
    <img class="vector-Pf3" src="REPLACE_IMAGE:545:1397"/>
    <img class="vector-uNV" src="REPLACE_IMAGE:545:1398"/>
  </div>
</div>
</body>