<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>check</title>
  <link rel="stylesheet" href="../static/babystone/css/check.css"/>
</head>
<body>
<div class="check-33j">
  <img class="property-1default-Au3" src="../static/babystone/img/property-1default-kaH.png"/>
  <img class="property-1check-square-GhB" src="../static/babystone/img/property-1check-square.png"/>
</div>
</body>