<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>優惠卷</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/coupon.css"/>
</head>
<body>
<div class="item--r1s">
  <img class="arrow-left-DFj" src="./assets/arrow-left.png"/>
  <div class="auto-group-6gvy-6qK">
    <p class="item--dcH">優惠卷</p>
    <div class="auto-group-tze5-VuP">
      <img class="group-56-kaR" src="./assets/group-56.png"/>
      <p class="item--UFX">輸入代碼</p>
      <img class="search-K1F" src="./assets/search-ezh.png"/>
      <div class="line-2-Ra5">
      </div>
    </div>
  </div>
  <div class="auto-group-xmzm-jKs">
    <div class="group-59-oad">
      <div class="auto-group-jdrm-K3B">
        <div class="co0001-nhT">CO0001</div>
        <p class="item--H8R">運費折抵</p>
        <p class="item-100-10-PBT">
        低銷：100
        <br/>
        折扣金：10
        </p>
      </div>
      <div class="line-12-Uyb">
      </div>
      <div class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9">
        <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-0">
        生效日期
        <br/>
        2023-04-01 00:00:00
        <br/>
        
        </span>
        <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-1">
        
        <br/>
        
        </span>
        <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-2">
        結束日期
        <br/>
        2023-12-31
        <br/>
        23:59:59
        </span>
      </div>
    </div>
    <div class="group-60-faD">
      <div class="auto-group-osud-yqo">
        <div class="co0002-J7P">CO0002</div>
        <p class="item--2ZB">季節限定</p>
        <p class="item-199-60-MrM">
        低銷：199
        <br/>
        折扣金：60
        </p>
      </div>
      <div class="line-12-3UH">
      </div>
      <div class="item-2023-11-11-00-00-00-2023-11-11-23-59-59-PHF">
        <span class="item-2023-11-11-00-00-00-2023-11-11-23-59-59-PHF-sub-0">
        生效日期
        <br/>
        2023-11-11 00:00:00
        <br/>
        
        </span>
        <span class="item-2023-11-11-00-00-00-2023-11-11-23-59-59-PHF-sub-1">
        
        <br/>
        
        </span>
        <span class="item-2023-11-11-00-00-00-2023-11-11-23-59-59-PHF-sub-2">
        結束日期
        <br/>
        2023-11-11
        <br/>
        23:59:59
        </span>
      </div>
    </div>
    <div class="group-61-1hw">
      <div class="auto-group-3wcv-XAV">
        <div class="co0003-E4u">CO0003</div>
        <p class="item--M9X">特殊活動限定</p>
        <p class="item-399-30-4pd">
        低銷：399
        <br/>
        折扣金：30
        </p>
      </div>
      <div class="line-12-P6D">
      </div>
      <div class="item-2023-04-02-00-00-00-2023-04-18-23-59-59-iuB">
        <span class="item-2023-04-02-00-00-00-2023-04-18-23-59-59-iuB-sub-0">
        生效日期
        <br/>
        2023-04-02 00:00:00
        <br/>
        
        </span>
        <span class="item-2023-04-02-00-00-00-2023-04-18-23-59-59-iuB-sub-1">
        
        <br/>
        
        </span>
        <span class="item-2023-04-02-00-00-00-2023-04-18-23-59-59-iuB-sub-2">
        結束日期
        <br/>
        2023-04-18
        <br/>
        23:59:59
        </span>
      </div>
    </div>
    <div class="group-62-brV">
      <div class="auto-group-2ufo-tqb">
        <div class="co0004-2B7">CO0004</div>
        <p class="item--ZB3">季節限定</p>
        <p class="item-299-50-tz1">
        低銷：299
        <br/>
        折扣金：50
        </p>
      </div>
      <div class="line-12-Cjo">
      </div>
      <div class="item-2023-05-30-00-00-00-2023-06-12-23-59-59-9f3">
        <span class="item-2023-05-30-00-00-00-2023-06-12-23-59-59-9f3-sub-0">
        生效日期
        <br/>
        2023-05-30 00:00:00
        <br/>
        
        </span>
        <span class="item-2023-05-30-00-00-00-2023-06-12-23-59-59-9f3-sub-1">
        
        <br/>
        
        </span>
        <span class="item-2023-05-30-00-00-00-2023-06-12-23-59-59-9f3-sub-2">
        結束日期
        <br/>
        2023-06-12
        <br/>
        23:59:59
        </span>
      </div>
    </div>
    <div class="group-63-zZB">
      <div class="auto-group-2xgh-hCh">
        <div class="co0005-Qso">CO0005</div>
        <p class="item--ZVo">特殊活動限定</p>
        <p class="item-100-10-h6D">
        低銷：100
        <br/>
        折扣金：10
        </p>
      </div>
      <div class="line-12-of3">
      </div>
      <div class="item-2023-07-18-00-00-00-2023-08-20-23-59-59-Xqw">
        <span class="item-2023-07-18-00-00-00-2023-08-20-23-59-59-Xqw-sub-0">
        生效日期
        <br/>
        2023-07-18 00:00:00
        <br/>
        
        </span>
        <span class="item-2023-07-18-00-00-00-2023-08-20-23-59-59-Xqw-sub-1">
        
        <br/>
        
        </span>
        <span class="item-2023-07-18-00-00-00-2023-08-20-23-59-59-Xqw-sub-2">
        結束日期
        <br/>
        2023-08-20
        <br/>
        23:59:59
        </span>
      </div>
    </div>
  </div>
</div>
</body>