<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>優惠卷</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" type="text/css" href="../static/babystone/css/coupon.css" />
</head>
<body>
<div class="item--r1s">
  <img class="arrow-left-DFj" src="../static/babystone/img/arrow-left.png"/>
  <div class="auto-group-6gvy-6qK">
    <p class="item--dcH">優惠卷</p>
    <div class="auto-group-tze5-VuP">
      <img class="group-56-kaR" src="../static/babystone/img/group-56.png"/>
      <form method="post">
        {% csrf_token %}
        {{ form.coupon_id }}
        <!-- 其他表單字段 -->
        <input type="submit" value=" ">
      </form>
      <img class="search-K1F" src="../static/babystone/img/search.png"/>
      <div class="line-2-Ra5">
      </div>
    </div>
  </div>
  <div class="group-59-oad">
  {% if coupon %}
    <div class="coupon">
      <div class="auto-group-jdrm-K3B">
        <div class="coupon_id">{{ coupon.coupon_id }}</div>
        {% if coupon.type_of_discount_policies == 0 %}
          <p class="coupon_type">運費折抵</p>
        {% endif %}
        {% if coupon.type_of_discount_policies == 1 %}
          <p class="coupon_type">季節折扣</p>
        {% endif %}
        {% if coupon.type_of_discount_policies == 2 %}
          <p class="coupon_type">特殊活動</p>
        {% endif %}
        <div class="lowercost_and_discount_font">
          低銷{{ coupon.minimum_limit }}<br/>
          折扣金{{ coupon.discount_amount }}
        </div>
      </div>

      <div class="date_information">
        <span class="effective_date">
          生效日期
          <br/>
          {{ coupon.start_date|date:"Y-m-d H:i:s" }}
          <br/>
        </span>
        <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-1">
          <br/>
        </span>
        <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-2">
          結束日期
          <br/>
          {{ coupon.expired_date|date:"Y-m-d H:i:s" }}
        </span>
      </div>
    </div>
  {% endif %}
  {% if coupons %}
  {% for coupon in coupons %}
  <div class="coupon">
    <div class="auto-group-jdrm-K3B">
      <div class="coupon_id">{{ coupon.coupon_id }}</div>
      {% if coupon.type_of_discount_policies == 0 %}
        <p class="coupon_type">運費折抵</p>
      {% endif %}
      {% if coupon.type_of_discount_policies == 1 %}
        <p class="coupon_type">季節折扣</p>
      {% endif %}
      {% if coupon.type_of_discount_policies == 2 %}
        <p class="coupon_type">特殊活動</p>
      {% endif %}
      <div class="lowercost_and_discount_font">
        低銷{{ coupon.minimum_limit }}<br/>
        折扣金{{ coupon.discount_amount }}
      </div>
    </div>

    <div class="date_information">
      <span class="effective_date">
        生效日期
        <br/>
        {{ coupon.start_date|date:"Y-m-d H:i:s" }}
        <br/>
      </span>
      <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-1">
        <br/>
      </span>
      <span class="item-2023-04-01-00-00-00-2023-12-31-23-59-59-zS9-sub-2">
        結束日期
        <br/>
        {{ coupon.expired_date|date:"Y-m-d H:i:s" }}
      </span>
    </div>
  </div>
  {% endfor %}
{% endif %}
  </div>

    

</body>
</html>