<html>
<footer>
    <div class="footer-info">
        <div class="footer-section">
            <div class="footer-section-left">
                <h3>關於我們</h3>
            </div>
            <div class="footer-section-right">
                <ul>
                    <li><a href="#">優惠資訊 / Coupon</a></li>
                    <li><a href="#">商店介紹 / Introduction</a></li>
                    <li><a href="#">與我們合作 / Cooperation</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-left">
                <h3>顧客服務</h3>
            </div>
            <div class="footer-section-right">
                <ul>
                    <li><a href="#">購物須知 / How To Buy</a></li>
                    <li><a href="#">退換貨政策 / After-sales Service</a></li>
                    <li><a href="#">隱私權政策 / Privacy</a></li>
                    <li><a href="#">使用者條款 / Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-left">
                <h3>尋找我們</h3>
            </div>
            <div class="footer-section-right">
                <ul>
                    <li>客服專線 02-85461000</li>
                    <li>服務時間 上班日 8:00-21:00</li>
                    <li>信箱 stonebaby@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>