{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘記密碼</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/forgot_password.css' %}">
    

</head>
<body>
    <div class="container">
        <div class="forgot-password-form">
            <h2>忘記密碼</h2>
            <p>請輸入您的電子郵件地址以重設密碼。</p>
            <script>
                function showConfirmation() {
                    alert('重設郵件已發送，請檢查您的郵箱。');
                }
            </script>
            <form method="post" onsubmit="showConfirmation()">
                {% csrf_token %}
                <input type="email" name="email" placeholder="電子郵件" required>
                <button type="submit">發送重設郵件</button>
            </form>
            <div class="options">
                <a href="{% url 'login' %}">返回登錄</a>
            </div>
        </div>
    </div>
</body>
</html>
