{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>忘記密碼</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/-hQq.css' %}">
</head>
<body>
<script src="../static/babystone/js/script.js"></script>
<div class="item--ziy">
  <div class="auto-group-zkmh-XU1">
    <a href="{% url 'login' %}">
      <img class="arrow-left-rWH" src="../static/babystone/img/arrow-left.png" onclick="goBack()" />
    </a>
    <p class="item--nPw">忘記密碼？</p>
  </div>
  <div class="auto-group-gw9m-tC5">

    <form method="post" action="{% url 'forgotpassword' %}">
      {% csrf_token %}

      <div class="group-29-QgD">
        <label for="email" class="item--6SZ">輸入電子郵件</label>
        <input type="email" id="email" name="email" class="rectangle-9-Y1j" required>
      </div>
      
      <button type="submit" id="resetPasswordButton" class="auto-group-ns31-MtH">重設密碼</button>

      {% if messages %}
      <ul class="error-message">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      

    </form>


    <a href="{% url 'login' %}" class="no-underline">
      <p class="item--p1B">會員登入</p>
    </a>
    <a href="{% url 'registermember' %}" class="no-underline">
      <p class="item--6jP">新用戶註冊</p>
    </a>
  </div>
</div>
</body>