{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/home.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <p>Explore and Enjoy!</p>
        <!-- Add login button -->
        <a href="{% url 'login' %}" class="login-button">Login</a>
    </header>

    <section>
        <div class="product">
            {% for product in products %}
            <h2>{{ product.product_name }}</h2>
            <img src="../static/babystone/img/{{ product.picture_in_description }}" alt="{{ product.picture_in_description }}">
            <p>Price: ${{ product.price }}</p>
            {% endfor %}
        </div>
    </section>

    <footer>
        <p>&copy; 2023 My Simple Website. All rights reserved.</p>
    </footer>
</body>
</html>
