<!-- home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/home.css' %}">
</head>
<body>
    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'home' %}">BabyStone</a></li>
                <li><a href="{% url 'login' %}">登入</a></li>
                <li><a href="{% url 'login' %}">搜尋</a></li>
                <li><a href="{% url 'login' %}">商品</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
        <main>
            <img src="{% static 'babystone/img/homepage.png' %}" alt="Homepage">
        </main>
        <footer>
            <p>&copy; 2023 BabyStone All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
