<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>商品詳細頁面</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/-gm3.css"/>
</head>
<body>
<div class="item--2Ko">
  <div class="auto-group-jvbx-Mss">
    <img class="arrow-left-5os" src="./assets/arrow-left-hp1.png"/>
    <img class="rectangle-12-pmT" src="./assets/rectangle-12-Q2Z.png"/>
    <div class="item--wr5">呆萌小石頭</div>
    <p class="item--EqB">天然獨一無二，為您的生活增添自然的愉悅。</p>
    <div class="group-86-J4M">
      <p class="item-50-q4H">50元</p>
      <p class="item-100-jvM">剩餘數量：100</p>
    </div>
    <div class="group-87-qCh">
      <div class="item--yZo">
        <div class="rectangle-24-tAy">
        </div>
        <img class="minus-square-ChT" src="./assets/minus-square-1q7.png"/>
        <img class="plus-square-5mF" src="./assets/plus-square-cQu.png"/>
        <div class="item-1-RKK">1</div>
      </div>
      <div class="group-56-q89">加入</div>
    </div>
    <div class="auto-group-wdmx-VCh">
      <img class="message-circle-aE9" src="./assets/message-circle.png"/>
      <p class="item--6iH">商品評價</p>
    </div>
  </div>
  <div class="rectangle-14-54R">
  </div>
</div>
</body>