<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>商品頁面</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-9Mf.css"/>
</head>
<body>
<div class="item--pwP">
  
  <div class="item--VXj">
    <div class="group-1-NLd">
      <p class="stone-baby-fqX">Stone Baby</p>
      <img class="search-ZAD" src="../static/babystone/img/search.png"/>
      <img class="user-5PT" src="../static/babystone/img/user.png"/>
      <img class="shopping-cart-yUq" src="../static/babystone/img/shopping-cart-black.png"/>
      <img class="menu-Jn1" src="../static/babystone/img/menu.png"/>
    </div>
  </div>

  <div class="group-84-pEZ">
    <p class="item--91w">新品上架</p>
    <div class="auto-group-cdwj-F4y">
      <img class="rectangle-11-n4u" src="../static/babystone/img/rectangle-11-AN9.png"/>
      <div class="rectangle-12-hSm">
        <img class="rectangle-12-hSm" src="../static/babystone/img/rectangle-5.png"/>
      </div>
    </div>
    <div class="auto-group-faeh-mxR">
      <div class="auto-group-ymo3-JBf">
        <div class="item--RXB">呆萌小石頭</div>
        <div class="item--vyj">石頭明信片組</div>
      </div>
      <div class="auto-group-wkzf-b4H">
        <div class="nt60-84D">NT$60</div>
        <div class="nt70-F8q">NT$70</div>
      </div>
      <div class="auto-group-z5hw-n8m">
        <div class="group-40-io7">
          <img class="shopping-cart-aKX" src="../static/babystone/img/shopping-cart-AK7.png"/>
        </div>
        <div class="group-41-FgZ">
          <img class="shopping-cart-zPF" src="../static/babystone/img/shopping-cart-AWZ.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="group-83-g1B">
    <p class="top-10-NPo" id="TOP10">本月熱賣商品 TOP 10</p>
    <div class="auto-group-ksm3-4Gd">
      <div class="auto-group-47xy-ozu">
        <img class="rectangle-10-k9T" src="../static/babystone/img/rectangle-10.png"/>
      </div>
      <div class="rectangle-5-dyw">
        <img class="rectangle-5-dyw" src="../static/babystone/img/rectangle-5.png" />
      </div>
    </div>
    <div class="auto-group-4x2m-Y5K">
      <div class="auto-group-itx3-UDs">
        <div class="item--CvZ">呆萌小石頭</div>
        <div class="item--Jih">石頭明信片組</div>
      </div>
      <div class="auto-group-59uf-DKs">
        <div class="nt60-j3K">NT$60</div>
        <div class="nt70-QfF">NT$70</div>
      </div>
      <div class="auto-group-52tf-YFf">
        <div class="group-29-g6y">
          <img class="shopping-cart-D6u" src="../static/babystone/img/shopping-cart-9WD.png"/>
        </div>
        <div class="group-30-KQq">
          <img class="shopping-cart-vvR" src="../static/babystone/img/shopping-cart-Dmw.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-fksm-dpq">
      <img class="rectangle-6-z9b" src="../static/babystone/img/rectangle-6-HVo.png"/>
      <img class="rectangle-7-KBs" src="../static/babystone/img/rectangle-7-ovu.png"/>
    </div>
    <div class="auto-group-v8xw-FrD">
      <div class="auto-group-yper-yXK">
        <div class="item--hCR">溫馨石頭小家</div>
        <div class="item--QMj">可愛石頭甜點屋</div>
      </div>
      <div class="auto-group-vwxf-tnh">
        <div class="nt250-2P7">NT$250</div>
        <div class="nt300-i13">NT$300</div>
      </div>
      <div class="auto-group-wyqq-SBw">
        <div class="group-31-9c9">
          <img class="shopping-cart-VAD" src="../static/babystone/img/shopping-cart-JkV.png"/>
        </div>
        <div class="group-33-zsf">
          <img class="shopping-cart-8ys" src="../static/babystone/img/shopping-cart-32M.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-ntqo-rQ5">
      <img class="rectangle-8-oKK" src="../static/babystone/img/rectangle-8-NE1.png"/>
      <img class="rectangle-9-K2m" src="../static/babystone/img/rectangle-9-U37.png"/>
    </div>
    <div class="auto-group-s7uf-eqj">
      <div class="auto-group-enc5-PYR">
        <div class="item--X8q">派大星冠軍石頭</div>
        <div class="item--EZ3">比奇堡現採石頭</div>
      </div>
      <div class="auto-group-rgtf-KqP">
        <div class="nt50-Tgh">NT$50</div>
        <div class="nt35-ZDw">NT$35</div>
      </div>
      <div class="auto-group-bo2v-h5F">
        <div class="group-34-pvZ">
          <img class="shopping-cart-Zt9" src="../static/babystone/img/shopping-cart-2BF.png"/>
        </div>
        <div class="group-35-3oK">
          <img class="shopping-cart-b49" src="../static/babystone/img/shopping-cart-gEy.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-p6nh-uKj">
      <img class="rectangle-6-4TX" src="../static/babystone/img/rectangle-6-urV.png"/>
      <img class="rectangle-7-bTT" src="../static/babystone/img/rectangle-7-yMX.png"/>
    </div>
    <div class="auto-group-lmz7-7Au">
      <div class="auto-group-g1em-FH7">
        <div class="item--Aus">海精靈石頭組</div>
        <div class="item--3yf">石頭珍珠貝殼</div>
      </div>
      <div class="auto-group-r8db-AoP">
        <div class="nt150-6ww">NT$150</div>
        <div class="nt90-EHT">NT$90</div>
      </div>
      <div class="auto-group-t23f-uuP">
        <div class="group-36-FTT">
          <img class="shopping-cart-zR3" src="../static/babystone/img/shopping-cart-X2V.png"/>
        </div>
        <div class="group-37-WPP">
          <img class="shopping-cart-eVb" src="../static/babystone/img/shopping-cart-9mP.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-yxwd-K5w">
      <img class="rectangle-8-sNM" src="../static/babystone/img/rectangle-8-Pf3.png"/>
      <img class="rectangle-9-aGm" src="../static/babystone/img/rectangle-9-d2m.png"/>
    </div>
    <div class="auto-group-rb2m-WgD">
      <div class="auto-group-nr2h-FNu">
        <div class="item--yZo">爆炒鵝卵石</div>
        <div class="item--Qv1">派大星石頭屋</div>
      </div>
      <div class="auto-group-dazb-VRf">
        <div class="nt50-bjb">NT$50</div>
        <div class="nt1000-6wF">NT$1000</div>
      </div>
      <div class="auto-group-h6bw-Bxh">
        <div class="group-38-Hkq">
          <img class="shopping-cart-d41" src="../static/babystone/img/shopping-cart-n6y.png"/>
        </div>
        <div class="group-39-V6D">
          <img class="shopping-cart-dCR" src="../static/babystone/img/shopping-cart-imB.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="group-85-X2u">
    <p class="item--wsK" id="All">所有商品</p>
    <div class="auto-group-bitm-3fT">
      <div class="auto-group-ckqt-joB">
        <img class="rectangle-10-HJu" src="../static/babystone/img/rectangle-10-GoX.png"/>
      </div>
      <div class="rectangle-5-xvq">
        <img class="rectangle-5-xvq" src="../static/babystone/img/rectangle-5.png" />
      </div>
    </div>
    <div class="auto-group-osn9-4iy">
      <div class="auto-group-btwf-CKP">
        <div class="item--7x9">呆萌小石頭</div>
        <div class="item--1Xj">石頭明信片組</div>
      </div>
      <div class="auto-group-hptr-86Z">
        <div class="nt60-TPj">NT$60</div>
        <div class="nt70-yss">NT$70</div>
      </div>
      <div class="auto-group-jjeh-vHK">
        <div class="group-29-eDK">
          <img class="shopping-cart-AxM" src="../static/babystone/img/shopping-cart-9f3.png"/>
        </div>
        <div class="group-30-TwT">
          <img class="shopping-cart-1TB" src="../static/babystone/img/shopping-cart-kXP.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-fzad-821">
      <img class="rectangle-6-a8u" src="../static/babystone/img/rectangle-6-ep5.png"/>
      <img class="rectangle-7-hUR" src="../static/babystone/img/rectangle-7.png"/>
    </div>
    <div class="auto-group-44uk-oGZ">
      <div class="auto-group-dqp3-vry">
        <div class="item--Tru">溫馨石頭小家</div>
        <div class="item--KeD">可愛石頭甜點屋</div>
      </div>
      <div class="auto-group-l4mb-duo">
        <div class="nt250-8Lm">NT$250</div>
        <div class="nt300-EPo">NT$300</div>
      </div>
      <div class="auto-group-q9o3-mPj">
        <div class="group-31-hoB">
          <img class="shopping-cart-EYD" src="../static/babystone/img/shopping-cart-RsK.png"/>
        </div>
        <div class="group-33-wxR">
          <img class="shopping-cart-gv1" src="../static/babystone/img/shopping-cart-Z57.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-zqqy-Nnq">
      <img class="rectangle-8-jdP" src="../static/babystone/img/rectangle-8-9Y1.png"/>
      <img class="rectangle-9-sUh" src="../static/babystone/img/rectangle-9-8VK.png"/>
    </div>
    <div class="auto-group-dvuq-1qo">
      <div class="auto-group-jwyo-Xp9">
        <div class="item--qpq">派大星冠軍石頭</div>
        <div class="item--MYH">比奇堡現採石頭</div>
      </div>
      <div class="auto-group-wgfp-rzq">
        <div class="nt50-z5T">NT$50</div>
        <div class="nt35-uiD">NT$35</div>
      </div>
      <div class="auto-group-1bnm-RgZ">
        <div class="group-34-yCH">
          <img class="shopping-cart-gcV" src="../static/babystone/img/shopping-cart-zPX.png"/>
        </div>
        <div class="group-35-Q2h">
          <img class="shopping-cart-wYR" src="../static/babystone/img/shopping-cart-b5o.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-tfd7-FJD">
      <img class="rectangle-6-BSm" src="../static/babystone/img/rectangle-6-tbf.png"/>
      <img class="rectangle-7-6pd" src="../static/babystone/img/rectangle-7-9dP.png"/>
    </div>
    <div class="auto-group-68nh-3E5">
      <div class="auto-group-xubs-AZb">
        <div class="item--VLy">海精靈石頭組</div>
        <div class="item--buo">石頭珍珠貝殼</div>
      </div>
      <div class="auto-group-pdcz-ijX">
        <div class="nt150-q3T">NT$150</div>
        <div class="nt90-xNy">NT$90</div>
      </div>
      <div class="auto-group-1xu9-Hg9">
        <div class="group-36-1c9">
          <img class="shopping-cart-vUD" src="../static/babystone/img/shopping-cart-Z5f.png"/>
        </div>
        <div class="group-37-qbB">
          <img class="shopping-cart-AdT" src="../static/babystone/img/shopping-cart-evH.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-1py3-4yj">
      <img class="rectangle-8-RpH" src="../static/babystone/img/rectangle-8.png"/>
      <img class="rectangle-9-mNM" src="../static/babystone/img/rectangle-9-P57.png"/>
    </div>
    <div class="auto-group-nmft-6fX">
      <div class="auto-group-9mi5-pLd">
        <div class="item--XF3">爆炒鵝卵石</div>
        <div class="item--SN1">派大星石頭屋</div>
      </div>
      <div class="auto-group-a69s-MUy">
        <div class="nt50-VLH">NT$50</div>
        <div class="nt1000-N9B">NT$1000</div>
      </div>
      <div class="auto-group-xdvp-WFP">
        <div class="group-38-EBP">
          <img class="shopping-cart-mSD" src="../static/babystone/img/shopping-cart-dSu.png"/>
        </div>
        <div class="group-39-sk9">
          <img class="shopping-cart-cxd" src="../static/babystone/img/shopping-cart-hK3.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
</body>