{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登錄頁面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h2>登錄</h2>
            <form method="post" action="{% url 'homepage' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="電子信箱或使用者名稱" required>
                <input type="password" name="password" placeholder="密碼" required>
                <button type="submit">登錄</button>
            </form>
            <div class="options">
                <a href="{% url 'register' %}">註冊</a>
                <a href="forgot-password.php">忘記密碼</a>
            </div>
            <div class="other-login-methods">
                <h3>其他登錄方式</h3>
                <a href="#">使用Facebook登錄</a>
                <a href="#">使用Google登錄</a>
            </div>
        </div>
    </div>
</body>
</html>
