<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>上列-已登入</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-tqT.css"/>
</head>
<body>
<div class="item--NuB">
  <div class="item--iy3">
    <div class="group-1-Fi5">
      <p class="stone-baby-oUh">Stone Baby</p>
      <img class="search-Wtu" src="./assets/search-dsB.png"/>
      <p class="item--eER">您好！</p>
      <img class="shopping-cart-ACm" src="./assets/shopping-cart-PsK.png"/>
      <img class="menu-5qX" src="./assets/menu-6y3.png"/>
    </div>
  </div>
</div>
</body>