<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>菜單選擇</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-znZ.css"/>
</head>
<body>
<div class="item--Nwf">
  <div class="property-1default-5bB">
    <p class="item--QdT">首頁</p>
    <p class="item--7Xs">最新優惠</p>
    <div class="frame-20-dFK">
      <p class="item--jJM">新品上架</p>
      <img class="chevron-down-qcH" src="../static/babystone/img/chevron-down-NHK.png"/>
    </div>
    <div class="auto-group-pntd-APf">
      <p class="top-10-s3B">熱賣商品 TOP 10</p>
      <p class="all-zNh">所有商品 / ALL</p>
    </div>
    <div class="line-5-vn9">
    </div>
    <p class="item--T1P">帳戶</p>
    <p class="item--aLu">會員登入</p>
    <p class="item--ft9">新用戶註冊</p>
    <div class="line-6-B5o">
    </div>
    <p class="item--hZw">其他</p>
    <p class="item--RF3">聯絡我們</p>
  </div>
  <div class="property-1variant2-k2R">
    <p class="item--ThX">首頁</p>
    <p class="item--zBf">最新優惠</p>
    <div class="frame-20-Ji9">
      <p class="item--pwP">新品上架</p>
      <img class="chevron-down-L93" src="../static/babystone/img/chevron-down-Wcd.png"/>
    </div>
    <div class="frame-20-fh7">
      <p class="new-in-1Pb">11月新品 New In</p>
      <p class="new-in-XMw">10月新品 New In</p>
      <p class="new-in-eSZ">9月新品 New In</p>
    </div>
    <p class="top-10-NtM">熱賣商品 TOP 10</p>
    <p class="all-Jn1">所有商品 / ALL</p>
    <div class="line-5-3Do">
    </div>
    <p class="item--N1B">帳戶</p>
    <p class="item--tVK">會員登入</p>
    <p class="item--1Zw">新用戶註冊</p>
    <div class="line-6-Kad">
    </div>
    <p class="item--raZ">其他</p>
    <p class="item--aWZ">聯絡我們</p>
  </div>
  <div class="property-1variant3-7Fb">
    <p class="item--qSV">首頁</p>
    <p class="item--NSR">最新優惠</p>
    <div class="frame-20-t9s">
      <p class="item--CAZ">新品上架</p>
      <img class="chevron-down-JDb" src="../static/babystone/img/chevron-down-qxH.png"/>
    </div>
    <div class="frame-20-2fP">
      <p class="new-in-Mhf">11月新品 New In</p>
      <p class="new-in-5tZ">10月新品 New In</p>
      <p class="new-in-ctV">9月新品 New In</p>
    </div>
    <p class="top-10-9Nd">熱賣商品 TOP 10</p>
    <p class="all-fbs">所有商品 / ALL</p>
    <div class="line-5-CLu">
    </div>
    <p class="item--8EZ">帳戶</p>
    <p class="item--rgM">會員登入</p>
    <p class="item--BTj">新用戶註冊</p>
    <div class="line-6-53K">
    </div>
    <p class="item--niR">其他</p>
    <p class="item--7Vo">聯絡我們</p>
  </div>
  <div class="property-1variant4-SY5">
    <p class="item--mKT">首頁</p>
    <p class="item--6Mj">最新優惠</p>
    <div class="frame-20-cqs">
      <p class="item--LG5">新品上架</p>
      <img class="chevron-down-3RP" src="../static/babystone/img/chevron-down-Y21.png"/>
    </div>
    <div class="frame-20-msB">
      <p class="new-in-hF3">11月新品 New In</p>
      <p class="new-in-dPb">10月新品 New In</p>
      <p class="new-in-kDK">9月新品 New In</p>
    </div>
    <p class="top-10-gMs">熱賣商品 TOP 10</p>
    <p class="all-Qof">所有商品 / ALL</p>
    <div class="line-5-9WM">
    </div>
    <p class="item--gFP">帳戶</p>
    <p class="item--oau">會員登入</p>
    <p class="item--X17">新用戶註冊</p>
    <div class="line-6-3VF">
    </div>
    <p class="item--NnR">其他</p>
    <p class="item--i5b">聯絡我們</p>
  </div>
  <div class="property-1variant5-qg1">
    <p class="item--NR3">首頁</p>
    <p class="item--JJh">最新優惠</p>
    <div class="frame-20-cqB">
      <p class="item--94R">新品上架</p>
      <img class="chevron-down-rDj" src="../static/babystone/img/chevron-down.png"/>
    </div>
    <div class="frame-20-afX">
      <p class="new-in-hk9">11月新品 New In</p>
      <p class="new-in-EVB">10月新品 New In</p>
      <p class="new-in-mED">9月新品 New In</p>
    </div>
    <p class="top-10-h7s">熱賣商品 TOP 10</p>
    <p class="all-d1X">所有商品 / ALL</p>
    <div class="line-5-ZQy">
    </div>
    <p class="item--hGH">帳戶</p>
    <p class="item--2ZT">會員登入</p>
    <p class="item--m1F">新用戶註冊</p>
    <div class="line-6-5Xj">
    </div>
    <p class="item--c1s">其他</p>
    <p class="item--Xed">聯絡我們</p>
  </div>
</div>
</body>