<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>訂單歷史2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/-LDK.css"/>
</head>
<body>
<div class="item-2-XZw">
  <div class="auto-group-pgyd-G1j">
    <img class="arrow-left-o1f" src="./assets/arrow-left-fcZ.png"/>
    <p class="item--8Zj">訂單紀錄</p>
  </div>
  <div class="group-75-DLH">
    <img class="rectangle-14-uiu" src="./assets/rectangle-14-pQD.png"/>
    <div class="auto-group-hfot-2oX">
      <div class="auto-group-n1sk-xBP">
        <div class="item--fbb">呆萌小石頭</div>
        <div class="nt50-B49">NT$50</div>
      </div>
      <div class="x3-KRF">x3</div>
      <div class="item-2023-03-30-00-00-00-EYD">2023-03-30 00:00:00</div>
    </div>
  </div>
  <div class="auto-group-1ei1-8Nh">
    <div class="group-81-dqF">
      <div class="item--wqw">優惠劵折抵編號</div>
      <div class="item--ri1">無</div>
    </div>
    <div class="group-79-157">
      <div class="item--M8y">運送方式</div>
      <div class="item--p2Z">賣家宅配</div>
    </div>
    <div class="group-80-wss">
      <div class="item--V8h">運送地址</div>
      <div class="item-1193-173">台北市信義區松山路119巷3號</div>
    </div>
    <div class="group-77-GHs">
      <div class="item--oHo">商品總金額</div>
      <div class="nt150-iff">NT$150</div>
    </div>
    <div class="group-69-qkH">
      <div class="item--NkD">運費總金額</div>
      <div class="nt60-6gD">NT$60</div>
    </div>
    <div class="group-70-eSq">
      <div class="item--b7B">優惠劵折抵</div>
      <div class="nt0-6Jq">- NT$0</div>
    </div>
    <div class="group-71-Sdb">
      <div class="item--xrq">總付款金額</div>
      <div class="nt210-g29">NT$210</div>
    </div>
    <div class="group-78-cwP">
      <div class="item--NvZ">訂單完成日期</div>
      <div class="item-2023-04-01-00-00-00-hhw">2023-04-01 00:00:00</div>
    </div>
    <div class="group-82-qZF">
      <div class="item--CPo">訂單評論</div>
      <div class="item--7Wm">無</div>
    </div>
  </div>
</div>
</body>