<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>訂單狀態2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/-e2Z.css"/>
</head>
<body>
<div class="item-2-cYM">
  <div class="auto-group-zbc9-jN5">
    <img class="arrow-left-4QM" src="./assets/arrow-left-sD7.png"/>
    <p class="item--yXK">訂單狀態</p>
  </div>
  <div class="group-65-VEm">
    <img class="rectangle-11-pnq" src="./assets/rectangle-11-wi5.png"/>
    <div class="auto-group-tdup-9KK">
      <div class="auto-group-yapd-h5w">
        <div class="item--ndB">呆萌小石頭</div>
        <div class="nt50-TDX">NT$50</div>
      </div>
      <div class="x3-Pcy">x3</div>
      <div class="item-2023-03-30-00-00-00-XDP">2023-03-30 00:00:00</div>
    </div>
  </div>
  <div class="auto-group-37eu-cVj">
    <div class="line-13-Xsb">
    </div>
    <div class="auto-group-lnez-rus">
      <div class="ellipse-1-bMf">
      </div>
      <p class="item--tbf">已下訂單</p>
    </div>
    <div class="auto-group-fthb-cnZ">
      <div class="ellipse-2-A3P">
      </div>
      <p class="item--rwo">賣家確認訂單</p>
    </div>
    <div class="auto-group-mpbf-z2R">
      <div class="ellipse-3-vgm">
      </div>
      <p class="item--42H">已寄貨</p>
    </div>
    <div class="auto-group-5lpv-yQ9">
      <div class="ellipse-4-7FT">
      </div>
      <p class="item--eFP">已到貨</p>
    </div>
    <div class="auto-group-ufly-AUd">
      <div class="auto-group-wpgy-iW9">
        <div class="ellipse-5-UER">
        </div>
        <p class="item--o1o">待取貨</p>
      </div>
      <div class="group-73-WB7">交易完成</div>
    </div>
  </div>
  <div class="auto-group-vhhf-J6y">
    <div class="auto-group-tobb-Pu7">
      <img class="calendar-8bo" src="./assets/calendar.png"/>
      <p class="item--UQm">付款詳情</p>
    </div>
    <div class="group-68-bEV">
      <div class="item--WcM">商品總金額：</div>
      <div class="nt150-psw">NT$150</div>
    </div>
    <div class="group-69-N8m">
      <div class="item--hwj">運費總金額：</div>
      <div class="nt60-EAy">NT$60</div>
    </div>
    <div class="group-70-mRo">
      <div class="item--tmK">優惠劵折抵：</div>
      <div class="nt0-nbo">- NT$0</div>
    </div>
    <div class="group-71-wDo">
      <div class="item--teq">總付款金額：</div>
      <div class="nt210-1zM">NT$210</div>
    </div>
  </div>
</div>
</body>