<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>訂單頁面</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/-Zi5.css"/>
</head>
<body>
<div class="item--xUd">
  <div class="auto-group-yxbf-tt5">
    <img class="arrow-left-SPo" src="./assets/arrow-left-7L9.png"/>
    <p class="item--b1o">訂單詳情</p>
  </div>
  <div class="group-65-uHP">
    <img class="rectangle-11-p9T" src="./assets/rectangle-11.png"/>
    <div class="auto-group-jbam-7eM">
      <div class="item--FEm">呆萌小石頭</div>
      <div class="x3-8pM">x3</div>
      <div class="item--fpH">商品總金額：</div>
    </div>
    <div class="auto-group-jimb-zLm">
      <div class="nt50-7gH">NT$50</div>
      <div class="nt150-Rgy">NT$150</div>
    </div>
  </div>
  <div class="auto-group-dj9j-85b">
    <div class="group-29-iJh">
      <div class="rectangle-9-sSV">
      </div>
      <div class="rectangle-15-Pvd">
      </div>
      <p class="item--KZP">優惠劵折抵</p>
    </div>
    <div class="group-66-zvR">
      <div class="rectangle-9-A4D">
      </div>
      <div class="rectangle-15-tku">
      </div>
      <p class="item--Epm">運送方式</p>
    </div>
    <div class="group-72-k2R">
      <div class="rectangle-9-W1b">
      </div>
      <div class="rectangle-15-ETP">
      </div>
      <p class="item--xPP">運送地址</p>
    </div>
  </div>
  <div class="auto-group-acqt-rDs">
    <div class="auto-group-nw5t-n7X">
      <img class="calendar-W3X" src="./assets/calendar-SNh.png"/>
      <p class="item--Did">付款詳情</p>
    </div>
    <div class="group-68-XUR">
      <div class="item--U8m">商品總金額：</div>
      <div class="nt150-BYy">NT$150</div>
    </div>
    <div class="group-69-WLM">
      <div class="item--ehT">運費總金額：</div>
      <div class="nt60-N7f">NT$60</div>
    </div>
    <div class="group-70-WDs">
      <div class="item--2T7">優惠劵折抵：</div>
      <div class="nt0-vYV">- NT$0</div>
    </div>
    <div class="auto-group-v3lh-UK7">
      <div class="group-71-1Zw">
        <div class="item--9g9">總付款金額：</div>
        <div class="nt210-UTX">NT$210</div>
      </div>
      <div class="group-64-pnH">結帳</div>
    </div>
  </div>
</div>
</body>