<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>訂單狀態1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/-Z8Z.css"/>
</head>
<body>
<div class="item-1-TAm">
  <div class="auto-group-u6h3-NoX">
    <img class="arrow-left-Weq" src="./assets/arrow-left-6t5.png"/>
    <p class="item--f1w">訂單狀態</p>
  </div>
  <div class="group-73-jXb">
    <img class="rectangle-14-dcy" src="./assets/rectangle-14-3Fb.png"/>
    <div class="auto-group-hyrd-8pd">
      <div class="item--s1X">呆萌小石頭</div>
      <div class="x3-YdT">x3</div>
      <div class="item--gUm">已到貨</div>
    </div>
    <div class="nt50-7yP">NT$50</div>
  </div>
  <div class="group-74-ykh">
    <div class="rectangle-11-gv1">
    </div>
    <div class="auto-group-cwws-vZT">
      <div class="item--Fbj">石頭明信片組</div>
      <div class="x5-NAZ">x5</div>
      <div class="item--6cM">已下訂單</div>
    </div>
    <div class="nt199-2W1">NT$199</div>
  </div>
</div>
</body>