<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>個人資料</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="./styles/-hHo.css"/>
</head>
<body>
<div class="item--EHj">
  <div class="auto-group-qz6h-moT">
    <img class="arrow-left-JHb" src="./assets/arrow-left-PYq.png"/>
    <div class="auto-group-hy9f-2jP">
      <p class="item--xsw">個人資料</p>
      <div class="item--sV7">編輯</div>
    </div>
  </div>
  <div class="auto-group-4g3f-yHF">
    <div class="group-27-t9K">
      <div class="rectangle-9-EDB">
      </div>
      <div class="rectangle-15-M2u">
      </div>
      <p class="item--V97">用戶名</p>
      <div class="yulun0531-xoP">yulun0531</div>
    </div>
    <div class="group-32-H4y">
      <div class="rectangle-9-1Wm">
      </div>
      <div class="rectangle-15-fbK">
      </div>
      <p class="item--DMw">帳號</p>
      <div class="yulun-6gd">yulun</div>
    </div>
    <div class="group-28-a61">
      <div class="rectangle-9-Xmw">
      </div>
      <div class="rectangle-15-TvV">
      </div>
      <p class="item--C7P">密碼</p>
      <div class="item-110590050-6yT">110590050</div>
    </div>
    <div class="group-33-DYH">
      <div class="rectangle-9-mph">
      </div>
      <div class="rectangle-15-K5X">
      </div>
      <p class="item--TBj">地址</p>
      <div class="item-1193-kwX">台北市信義區松山路119巷3號</div>
    </div>
    <div class="group-34-aff">
      <div class="rectangle-9-Y6h">
      </div>
      <div class="rectangle-15-s8y">
      </div>
      <p class="item--ccM">電子郵件</p>
      <div class="t110590050ntutorgtw-XUR">t110590050@ntut.org.tw</div>
    </div>
    <div class="group-31-dXT">
      <div class="rectangle-9-B3B">
      </div>
      <div class="rectangle-15-6R3">
      </div>
      <p class="item--qtR">電話號碼</p>
      <div class="item-0966375990-ihK">0966375990</div>
    </div>
    <div class="group-29-E9s">
      <div class="rectangle-9-ajX">
      </div>
      <div class="rectangle-15-h3T">
      </div>
      <p class="item--3ND">性別</p>
      <div class="item--LMK">男</div>
    </div>
    <div class="group-30-FjB">
      <div class="rectangle-9-DAD">
      </div>
      <div class="rectangle-15-9Zf">
      </div>
      <p class="item--uHw">年齡</p>
      <div class="item-20-DZX">20</div>
    </div>
    <div class="auto-group-zm57-vyj">儲存</div>
  </div>
</div>
</body>