<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>個人資料</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-hHo.css"/>
</head>
<body>
<div class="item--EHj">
  <div class="auto-group-qz6h-moT">
    <img class="arrow-left-JHb" src="./assets/arrow-left-PYq.png"/>
    <div class="auto-group-hy9f-2jP">
      <p class="item--xsw">個人資料</p>
      <div class="item--sV7">編輯</div>
    </div>
  </div>
  <form method="post">
  {% csrf_token %}
  <input type="hidden" name="user_id" value="{{ user.user_id }}">
  <div class="auto-group-4g3f-yHF">
    <div class="group-27-t9K">
      <input type="text" name="name" class="rectangle-9-DU9" required id="username" value="{{ user.name }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">用戶名</label>     
    </div>

    <div class="group-27-t9K">
      <input type="text" name="account" class="rectangle-9-DU9" required id="username" value="{{ user.account }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">帳戶</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="password" class="rectangle-9-DU9" required id="username" value="{{ user.password }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">密碼</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="address" class="rectangle-9-DU9" required id="username" value="{{ user.address }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">地址</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="email" class="rectangle-9-DU9" required id="username" value="{{ user.email }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">電子郵件</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="phone_number" class="rectangle-9-DU9" required id="username" value="{{ user.phone_number }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">電話號碼</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="sex" class="rectangle-9-DU9" required id="username" value="{{ user.sex }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">性別</label>     
    </div>
    <div class="group-27-t9K">
      <input type="text" name="age" class="rectangle-9-DU9" required id="username" value="{{ user.age }}">
      <div class="rectangle-15-M2u"></div>
      <label for="username" class="item--F9w">年齡</label>     
    </div>
    <button type="submit" class="auto-group-s2dj-Hss">儲存</button>
  </form>

  </div>
</div>
</body>