<!-- product_management.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/product_management.css' %}">
</head>
<body>
    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'homepage' %}">BabyStone</a></li>
                <li><a href="{% url 'homepage' %}"><img src="{% static 'babystone/img/menu.png' %}" alt="Menu"></a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">登出</a></li>
                    <li><a href="{% url 'view_profile' %}">{{ user.name }}</li>
                    <li><a href="{% url 'view_cart' %}">購物車</a></li>
                    <!-- Add authenticated user content here -->
                {% else %}
                    <li><a href="{% url 'login' %}">登入</a></li>
                {% endif %}
                <li><a href="{% url 'products' %}">商品</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
        <main>
            <!-- Add content specific to the product management view -->
            <div class="product-management-container">
                <div class="product-edit-container">
                    <ul>
                        {% for product in products %}
                            <li>
                                {{ product.product_name }}
                                <a href="{% url 'edit_product' product.product_id %}">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{% url 'add_product' %}">Add Product</a>
            </div>
        </main>
        <footer>
            <!-- Footer content (similar to view_profile.html) -->
        </footer>
    </div>
</body>
</html>
