<!-- templates/yourapp/product_detail.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }} Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/product_detail.css' %}">
</head>
<body>
    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'homepage' %}">BabyStone</a></li>
                <li><a href="{% url 'homepage' %}"><img src="{% static 'babystone/img/menu.png' %}" alt="Menu"></a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">登出</a></li>
                    <li><a href="{% url 'view_profile' %}">{{ user.name }}</li>
                    <li><a href="{% url 'view_cart' %}">購物車</a></li>
                    <!-- Add authenticated user content here -->
                {% else %}
                    <li><a href="{% url 'login' %}">登入</a></li>
                {% endif %}
                <li><a href="{% url 'products' %}">商品</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
        <main>
            <h1>{{ product.product_name }} Detail</h1>
            {% if product.picture_in_browsing %}
                <img src="{{ product.picture_in_browsing.url }}" alt="{{ product.product_id }}" class="Product_Image">
            {% else %}
                <img src="{% static 'path/to/placeholder_image.jpg' %}" alt="{{ product.product_id }}" class="Product_Image">
            {% endif %}
            <div class="product-container">
                
                <p class="product-description">Description: {{ product.description_of_product }}</p>
                <p class="product-price">Price: ${{ product.price }}</p>
            <!-- 其他商品詳細信息 -->
            <a href="{% url 'add_to_cart' product_id=product.product_id %}" class="add-to-cart">Add to Cart</a>
            <a href="{% url 'products' %}" class="back-to-product-list">Back to Product List</a>
            </div>
        </main>
        <footer>
            <div class="footer-info">
                <div class="footer-section">
                    <div class="footer-section-left">
                        <h3>關於我們</h3>
                    </div>
                    <div class="footer-section-right">
                        <ul>
                            <li><a href="#">優惠資訊 / Coupon</a></li>
                            <li><a href="#">商店介紹 / Introduction</a></li>
                            <li><a href="#">與我們合作 / Cooperation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-left">
                        <h3>顧客服務</h3>
                    </div>
                    <div class="footer-section-right">
                        <ul>
                            <li><a href="#">購物須知 / How To Buy</a></li>
                            <li><a href="#">退換貨政策 / After-sales Service</a></li>
                            <li><a href="#">隱私權政策 / Privacy</a></li>
                            <li><a href="#">使用者條款 / Terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-section-left">
                        <h3>尋找我們</h3>
                    </div>
                    <div class="footer-section-right">
                        <ul>
                            <li>客服專線 02-85461000</li>
                            <li>服務時間 上班日 8:00-21:00</li>
                            <li>信箱 stonebaby@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
