<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>選擇身分</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-eee.css"/>
</head>
<body>
<div class="item--8yj">
  <div class="auto-group-a8az-ex5">想要註冊的會員類型？</div>
  <div class="auto-group-cstq-VC1">
    <a href="{% url 'registerbuyer' %}" class="no-underline">
      <div class="auto-group-fdd7-cnR">買家</div>
    </a>
    <a href="{% url 'registerseller' %}" class="no-underline">
      <div class="auto-group-uogh-zY5">賣家</div>
    </a>
  </div>
</div>
</body>