{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>註冊會員-賣家</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/-ppp.css' %}"/>
</head>
<body>
<script src="../static/babystone/js/script.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(function () {
    // 启用日期选择器
    $("#birth").datepicker();
  });
</script> -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // 获取当前日期并格式化为 YYYY-MM-DD
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
    var day = ('0' + currentDate.getDate()).slice(-2);
    var hours = ('0' + currentDate.getHours()).slice(-2);
    var minutes = ('0' + currentDate.getMinutes()).slice(-2);
    var seconds = ('0' + currentDate.getSeconds()).slice(-2);
    var formattedDate = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
    //var formattedDate = year + '-' + month + '-' + day;

    // 将值设置为输入框
    document.getElementById("joint_date").value = formattedDate;
  });
</script>
<style>
  #user_type {
    display: none;
  }
</style>
<div class="item--gCV">
  <div class="auto-group-uduo-oY1">
    <a href="{% url 'login' %}">
      <img class="arrow-left-vMj" src="../static/babystone/img/arrow-left.png" />
    </a>
    <p class="item--eoX">註冊會員</p>
  </div>
  
  <div class="auto-group-rhzd-AG5">

    <form method="post" action="{% url 'registerseller' %}">
      {% csrf_token %}

      <input type="text" name="user_type" required id="user_type" value="seller">

      <div class="group-27-UGm">
        <input type="text" name="username" class="rectangle-9-zF7" required id="username">
        <div class="rectangle-15-u7B"> </div>
        <label for="username" class="item--XuF">用戶名</label>
      </div>

      <div class="group-32-DXB">
        <input type="text" name="account" class="rectangle-9-99w" required id="account">
        <div class="rectangle-15-GEZ"></div>
        <label for="account" class="item--zwF">帳號</label>
      </div>
      
      <div class="group-28-sk9">
        <input type="password" name="password" autocomplete="current-password" class="rectangle-9-15f" required id="password">
        <div class="rectangle-15-7uP"></div>
        <label for="password" class="item--G1b">密碼</label>
      </div>
      
      <div class="group-33-A6y">
        <textarea name="address" class="rectangle-9-h6u" required placeholder="例如：台北市大安區XXX街XX號"></textarea>
        <div class="rectangle-15-bi5"></div>
        <label for="address" class="item--LQm">地址</label>
      </div>
      
      <div class="group-34-Rx1">
        <input type="email" name="email" class="rectangle-9-xS9" required id="email">
        <div class="rectangle-15-UQV"></div>
        <label for="email" class="item--pDT">電子郵件</label>
      </div>
      
      <div class="group-31-tz1">
        <input type="tel" name="phone_number" class="rectangle-9-QhT" required id="phone_number">
        <div class="rectangle-15-L5K"></div>
        <label for="phone_number" class="item--GDs">電話號碼</label>
      </div>

      <div class="group-30-wqo">
        <input type="datetime" name="joint_date" class="rectangle-9-5BK" required id="joint_date" readonly>
        <!-- <img class="vector-ADb" src="../static/babystone/img/chevron-down.png" /> -->
        <div class="rectangle-15-n5j"></div>
        <label for="joint_date" class="item--7do">加入日期</label>
      </div>

      <div class="auto-group-hmup-oFj">
        <input type="checkbox" id="agreeCheckbox" name="agreement" class="check-idb" />
        <label for="agreeCheckbox" class="item--TLH">
          <span class="item--TLH-sub-0">我同意<a href="{% url '0_policy' %}">退換貨政策</a>及<a
              href="{% url '0_information' %}">購物須知</a>
          </span>
        </label>
      </div>
      
      <button type="submit" class="auto-group-8wry-aSq">立即加入！</button>

    </form>

    <!-- <div class="group-27-UGm">
      <div class="rectangle-9-zF7">
      </div>
      <div class="rectangle-15-u7B">
      </div>
      <p class="item--XuF">用戶名</p>
    </div>


    <div class="group-32-DXB">
      <div class="rectangle-9-99w">
      </div>
      <div class="rectangle-15-GEZ">
      </div>
      <p class="item--zwF">帳號</p>
    </div>
    <div class="group-28-sk9">
      <div class="rectangle-9-15f">
      </div>
      <div class="rectangle-15-7uP">
      </div>
      <p class="item--G1b">密碼</p>
    </div>
    <div class="group-33-A6y">
      <div class="rectangle-9-h6u">
      </div>
      <div class="rectangle-15-bi5">
      </div>
      <p class="item--LQm">地址</p>
    </div>
    <div class="group-34-Rx1">
      <div class="rectangle-9-xS9">
      </div>
      <div class="rectangle-15-UQV">
      </div>
      <p class="item--pDT">電子郵件</p>
    </div>
    <div class="group-31-tz1">
      <div class="rectangle-9-QhT">
      </div>
      <div class="rectangle-15-L5K">
      </div>
      <p class="item--GDs">電話號碼</p>
    </div>

    <div class="group-30-wqo">
      <div class="rectangle-9-5BK">
      </div>
      <div class="rectangle-15-n5j">
      </div>
      <p class="item--7do">加入日期</p>
    </div>
    <div class="auto-group-hmup-oFj">
      <img class="check-idb" src="../static/babystone/img/check.png"/>
      <p class="item--TLH">
        <span class="item--TLH-sub-0">我同意</span>
        <span class="item--TLH-sub-1">退換貨政策</span>
        <span class="item--TLH-sub-2">及</span>
        <span class="item--TLH-sub-3">購物須知</span>
      </p>
    </div>
    <div class="auto-group-8wry-aSq">立即加入！</div> -->
  </div>
</div>
</body>