<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>註冊會員-買家</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="../static/babystone/css/-rrr.css"/>
</head>
<body>
<script src="../static/babystone/js/script.js"></script>
<div class="item--UjX">
  <div class="auto-group-p43w-1jT">
    <img class="arrow-left-wd7" src="../static/babystone/img/arrow-left.png"/>
    <p class="item--GvH">註冊會員</p>
  </div>
  <div class="auto-group-dquw-BXT">
    <div class="group-27-gz1">
      <div class="rectangle-9-DU9">
      </div>
      <div class="rectangle-15-ifo">
      </div>
      <p class="item--F9w">用戶名</p>
    </div>
    <div class="group-32-vWy">
      <div class="rectangle-9-3rV">
      </div>
      <div class="rectangle-15-N85">
      </div>
      <p class="item--JnR">帳號</p>
    </div>
    <div class="group-28-Pos">
      <div class="rectangle-9-KhX">
      </div>
      <div class="rectangle-15-F5P">
      </div>
      <p class="item--nb7">密碼</p>
    </div>
    <div class="group-33-ggV">
      <div class="rectangle-9-cKF">
      </div>
      <div class="rectangle-15-w6d">
      </div>
      <p class="item--UMT">地址</p>
    </div>
    <div class="group-34-Ak5">
      <div class="rectangle-9-6dj">
      </div>
      <div class="rectangle-15-cMB">
      </div>
      <p class="item--wuF">電子郵件</p>
    </div>
    <div class="group-31-3SV">
      <div class="rectangle-9-x3f">
      </div>
      <div class="rectangle-15-sgR">
      </div>
      <p class="item--ce1">電話號碼</p>
    </div>
    <div class="group-29-7Ks">
      <select class="rectangle-9-SN9">
        <option>男</option>
        <option>女</option>
      </select>

      <div class="rectangle-15-AZ3">
      </div>
      <p class="item--V5X">性別</p>

    </div>
    <div class="group-30-hxH">
      <div class="rectangle-9-2zZ">
      </div>
      <div class="rectangle-15-MG9">
      </div>
      <p class="item--UrZ">出生日期</p>
      <img class="vector-ADb" src="../static/babystone/img/chevron-down.png"/>
    </div>
    <div class="auto-group-a6qs-gSq">
      <img class="check-zyK" src="../static/babystone/img/check.png"/>
      <p class="item--LGV">
        <span class="item--LGV-sub-0">我同意</span>
        <span class="item--LGV-sub-1">退換貨政策</span>
        <span class="item--LGV-sub-2">及</span>
        <span class="item--LGV-sub-3">購物須知</span>
      </p>
    </div>
    <div class="auto-group-s2dj-Hss">立即加入！</div>
  </div>
</div>
</body>