{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>註冊會員-買家</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/-rrr.css' %}"/>
</head>
<body>
<script src="../static/babystone/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(function () {
    // 启用日期选择器
    $("#birth").datepicker();
  });
</script>
<style>
  #user_type {
    display: none;
  }
</style>

<div class="item--UjX">
  <div class="auto-group-p43w-1jT">
    <a href="{% url 'login' %}">
      <img class="arrow-left-wd7" src="../static/babystone/img/arrow-left.png" />
    </a>
    <p class="item--GvH">註冊會員</p>
  </div>
  <div class="auto-group-dquw-BXT">

    <form method="post" action="{% url 'registerbuyer' %}">
      {% csrf_token %}
      <input type="text" name="user_type" required id="user_type" value="buyer">
      
      <div class="group-27-gz1">
        <input type="text" name="username" class="rectangle-9-DU9" required id="username">
        <div class="rectangle-15-ifo"> </div>
        <label for="username" class="item--F9w">用戶名</label>
      </div>

      <div class="group-32-vWy">
        <input type="text" name="account" class="rectangle-9-3rV" required id="account">
        <div class="rectangle-15-N85"></div>
        <label for="account" class="item--JnR">帳號</label>
      </div>

      <div class="group-28-Pos">
        <input type="password" name="password" autocomplete="current-password" class="rectangle-9-KhX" required id="password">
        <div class="rectangle-15-F5P"></div>
        <label for="password" class="item--nb7">密碼</label>
      </div>

      <div class="group-33-ggV">
        <textarea name="address" class="rectangle-9-cKF" required placeholder="例如：台北市大安區XXX街XX號"></textarea>
        <div class="rectangle-15-w6d"></div>
        <label for="address" class="item--UMT">地址</label>
      </div>

      <div class="group-34-Ak5">
        <input type="email" name="email" class="rectangle-9-6dj" required id="email">
        <div class="rectangle-15-cMB"></div>
        <label for="email" class="item--wuF">電子郵件</label>
      </div>

      <div class="group-31-3SV">
        <input type="tel" name="phone_number" class="rectangle-9-x3f" required id="phone_number">
        <div class="rectangle-15-sgR"></div>
        <label for="phone_number" class="item--ce1">電話號碼</label>
      </div>

      <div class="group-29-7Ks">
        <select name="gender" class="rectangle-9-SN9">
          <option value="1">男</option>
          <option value="0">女</option>
        </select>
      
        <div class="rectangle-15-AZ3">
        </div>
        <p class="item--V5X">性別</p>
      </div>

      <div class="group-30-hxH">
        <input type="date" name="birth" class="rectangle-9-2zZ" required id="birth">
        <!-- <img class="vector-ADb" src="../static/babystone/img/chevron-down.png" /> -->
        <div class="rectangle-15-MG9"></div>
        <label for="birth" class="item--UrZ">出生日期</label>
      </div>

      <div class="auto-group-a6qs-gSq">
        <input type="checkbox" id="agreeCheckbox" name="agreement" class="check-zyK" />
        <label for="agreeCheckbox" class="item--LGV">
          <span class="item--LGV-sub-0">我同意<a href="{% url '0_policy' %}">退換貨政策</a>及<a href="{% url '0_information' %}">購物須知</a>
          </span>
        </label>
      </div>

      <button type="submit" class="auto-group-s2dj-Hss">立即加入！</button>
    </form>
    
  </div>
</div>
</body>