<!-- {% autoescape off %}
Hello {{ user_instance.name }},

Please click the link below to :

<a href="{{ reset_password_url }}" style="display: block; margin-bottom: 10px;"> </a>

<p>If you did not request this, please ignore this email.</p>

Best regards,
Your Website Team
{% endautoescape %} -->

{% autoescape off %}

<p>Hello {{ user_instance.name }},</p>

<p>We received a request to reset your password. If you initiated this request, please click the link below to reset
    your password:</p>

<a href="{{ reset_password_url }}" style="display: block; margin-bottom: 10px;">Reset Password</a>

<p>If you did not request this, please ignore this email, and your password will remain unchanged.</p>

<p>Best regards,<br>Your Website Team</p>

{% endautoescape %}