{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/password_reset.css' %}">
</head>

<body>
    <nav>

    </nav>
    <div class="password-reset-container">
        <h2>重置密碼</h2>
        <form method="post" class="password-reset-form">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit">確認</button>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}
        </form>

    </div>
    <footer>

    </footer>
</body>

</html>