<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>購物車</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-SYd.css"/>
</head>
<body>
<div class="item--oLH">
  <div class="auto-group-g7rt-9Q9">
    <img class="arrow-left-gQ5" src="../static/babystone/img/arrow-left-uRf.png"/>
    <p class="item--coX">購物車</p>
  </div>
  <div class="item--92m">
    <div class="auto-group-rte3-Hem">
      <div class="auto-group-8vhr-QDb">
        <img class="rectangle-20-vSq" src="../static/babystone/img/rectangle-20.png"/>
        <div class="auto-group-z7g7-3GZ">
          <div class="item--BNm">呆萌小石頭</div>
          <div class="nt90-V8Z">NT$90</div>
          <div class="item--QmK">
            <div class="rectangle-24-Ley">
            </div>
            <img class="minus-square-TDo" src="../static/babystone/img/minus-square-BNm.png"/>
            <img class="plus-square-B9o" src="../static/babystone/img/plus-square-SPF.png"/>
            <div class="item-1-73T">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-pjhv-zN9">
        <div class="auto-group-bbab-jad">
          <img class="rectangle-26-VZo" src="../static/babystone/img/rectangle-26.png"/>
        </div>
        <div class="auto-group-z9s1-bcq">
          <div class="item--jyw">呆萌小石頭</div>
          <div class="nt90-SNZ">NT$90</div>
          <div class="item--m9w">
            <div class="rectangle-24-5wK">
            </div>
            <img class="minus-square-REV" src="../static/babystone/img/minus-square-1ws.png"/>
            <img class="plus-square-M89" src="../static/babystone/img/plus-square.png"/>
            <div class="item-1-Gku">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-onqb-mSm">
        <img class="rectangle-29-V7s" src="../static/babystone/img/rectangle-29.png"/>
        <div class="auto-group-vhlw-bwb">
          <div class="item--Ybw">呆萌小石頭</div>
          <div class="nt90-fRf">NT$90</div>
          <div class="item--o25">
            <div class="rectangle-24-8KF">
            </div>
            <img class="minus-square-Fem" src="../static/babystone/img/minus-square.png"/>
            <img class="plus-square-C4D" src="../static/babystone/img/plus-square-vgM.png"/>
            <div class="item-1-LAR">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-uix3-dQR">
        <div class="auto-group-ppvh-Nso">
          <img class="rectangle-31-Xkh" src="../static/babystone/img/rectangle-31.png"/>
        </div>
        <div class="auto-group-rajm-doj">
          <div class="item--ays">呆萌小石頭</div>
          <div class="nt90-WMj">NT$90</div>
          <div class="item--EoX">
            <div class="rectangle-24-8e1">
            </div>
            <img class="minus-square-fP3" src="../static/babystone/img/minus-square-6dT.png"/>
            <img class="plus-square-oEM" src="../static/babystone/img/plus-square-W1s.png"/>
            <div class="item-1-Xw3">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-scg3-dDP">
        <img class="rectangle-32-k37" src="../static/babystone/img/rectangle-32.png"/>
        <div class="auto-group-cjhy-sdX">
          <div class="item--pHs">呆萌小石頭</div>
          <div class="nt90-ie9">NT$90</div>
          <div class="item--rVT">
            <div class="rectangle-24-ypy">
            </div>
            <img class="minus-square-W4D" src="../static/babystone/img/minus-square-rSH.png"/>
            <img class="plus-square-SCm" src="../static/babystone/img/plus-square-56V.png"/>
            <div class="item-1-a45">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-uwbq-sJ5">
        <div class="auto-group-e4af-QYu">
          <img class="rectangle-34-Zgh" src="../static/babystone/img/rectangle-34.png"/>
        </div>
        <div class="auto-group-8rg7-H6u">
          <div class="item--pcd">呆萌小石頭</div>
          <div class="nt90-YHj">NT$90</div>
          <div class="item--USH">
            <div class="rectangle-24-Ct5">
            </div>
            <img class="minus-square-YBF" src="../static/babystone/img/minus-square-zu3.png"/>
            <img class="plus-square-4fP" src="../static/babystone/img/plus-square-CCm.png"/>
            <div class="item-1-bfK">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-gfw3-uAD">
        <img class="rectangle-35-31X" src="../static/babystone/img/rectangle-35.png"/>
        <div class="auto-group-eyb9-ZVf">
          <div class="item--hrm">呆萌小石頭</div>
          <div class="nt90-Dq7">NT$90</div>
          <div class="item--MgR">
            <div class="rectangle-24-gyb">
            </div>
            <img class="minus-square-RRP" src="../static/babystone/img/minus-square-rGm.png"/>
            <img class="plus-square-rmb" src="../static/babystone/img/plus-square-AoP.png"/>
            <div class="item-1-zso">1</div>
          </div>
        </div>
      </div>
      <div class="auto-group-eqgt-5uF">
        <div class="auto-group-ywqh-RiD">
          <img class="rectangle-37-BhP" src="../static/babystone/img/rectangle-37.png"/>
        </div>
        <div class="auto-group-drpm-uNV">
          <div class="item--4FP">呆萌小石頭</div>
          <div class="nt90-ydF">NT$90</div>
          <div class="item--WdB">
            <div class="rectangle-24-3d7">
            </div>
            <img class="minus-square-NvH" src="../static/babystone/img/minus-square-hqP.png"/>
            <img class="plus-square-ufK" src="../static/babystone/img/plus-square-Nc5.png"/>
            <div class="item-1-r4m">1</div>
          </div>
        </div>
      </div>
    </div>
    <div class="item--wc1">
      <div class="auto-group-ycyb-Fsb">
        <p class="item--DJd">優惠劵</p>
        <div class="auto-group-4ztr-Xq7">
          <img class="chevron-down-GGu" src="../static/babystone/img/chevron-down-cz1.png"/>
        </div>
      </div>
      <div class="auto-group-ujvo-o1w">
        <p class="item--YkD">總金額</p>
        <div class="rectangle-41-sXb">
        </div>
      </div>
      <div class="group-49-cVB">立即下單</div>
    </div>
  </div>
</div>
</body>