<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>購物車</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-k93.css"/>
</head>
<body>
  <script src="../static/babystone/js/script.js"></script>
  <style>
    p {
      text-align: center;
      font-size: 15px;
    }
    .item--cRb .item--j81 {
  box-sizing: border-box;
  padding: 3rem 2.742rem 3rem 2.6rem;
  width: 100%;
  height: 186.5rem;
  overflow: hidden;
  position: relative;
  /* display: flex; */
  align-items: flex-start;
  background-color: #c4bbb2;
  border-radius: 4.5rem 4.5rem 0 0;
  flex-shrink: 0;
}
  </style>
<div class="item--cRb">
  <div class="auto-group-np3b-Mty">
    <img class="arrow-left-fem" src="../static/babystone/img/arrow-left-Mc9.png" onclick="goBack()"/>
    <p class="item--QcM">購物車</p>
  </div>
  <div class="item--j81">
    <p>請登入以查看購物車。</p>
  </div>
  
</div>
</body>