<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>購物車</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sulphur+Point%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/-k93.css"/>
</head>
<body>
<div class="item--cRb">
  <div class="auto-group-np3b-Mty">
    <img class="arrow-left-fem" src="../static/babystone/img/arrow-left-Mc9.png"/>
    <p class="item--QcM">購物車</p>
  </div>
  
  <div class="item--j8q">
    <img class="rectangle-20-E5b" src="../static/babystone/img/rectangle-20-eeh.png"/>
    <div class="auto-group-m5gh-jo3">
      <div class="auto-group-d14z-HpZ">
        <div class="item--2GM">呆萌小石頭</div>
        <div class="nt90-vcd">NT$90</div>
        <div class="item--T6m">
          <div class="rectangle-24-krZ">
          </div>
          <img class="minus-square-U3o" src="../static/babystone/img/minus-square-nTX.png"/>
          <img class="plus-square-AhK" src="../static/babystone/img/plus-square.png"/>
          <div class="item-1-uQ1">1</div>
        </div>
      </div>
      <div class="group-49-Ce1">立即下單</div>
    </div>
  </div>
</div>
</body>