<!-- templates/success_page.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>註冊成功 - Your Website</title>
        <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/success_page.css' %}">
    </head>
<body>
    <div class="main-container">
        <h2>註冊成功</h2>
        <p>感謝您註冊！您現在可以使用您的帳戶登入。</p>
        <!-- 添加任何其他成功註冊後的信息或操作 -->
    </div>
</body>
</html>
