<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>TOP1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Telex%3A400"/>
  <link rel="stylesheet" href="../static/babystone/css/top1.css"/>
</head>
<body>
<div class="top1-UDj">
  <div class="auto-group-76dy-b3T">
    <img class="rectangle-11-Xho" src="../static/babystone/img/rectangle-11.png"/>
    <div class="auto-group-d3zd-Fth">
      <div class="item--cDT">呆萌小石頭</div>
      <div class="item--7AD">...</div>
    </div>
  </div>
  <div class="rectangle-17-EEq">
  </div>
  <div class="auto-group-lznt-9sb">
    <div class="rectangle-18-tKP">
    </div>
    <div class="rectangle-19-qEd">
    </div>
  </div>
</div>
</body>