<!-- view_cart.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'babystone/css/view_cart.css' %}">
</head>
<body>
    <div class="main-container">
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'homepage' %}">BabyStone</a></li>
                <li><a href="{% url 'homepage' %}"><img src="{% static 'babystone/img/menu.png' %}" alt="Menu"></a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">登出</a></li>
                    <li><a href="{% url 'view_profile' %}">{{ user.name }}</li>
                    <!-- Add authenticated user content here -->
                {% else %}
                    <li><a href="{% url 'login' %}">登入</a></li>
                {% endif %}
                <li><a href="{% url 'view_cart' %}">購物車</a></li>
                <li><a href="{% url 'products' %}">商品</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
        <main>
            <div class="cart-container">
                <h2>Your Shopping Cart</h2>
                {% if cart_items %}
                    <ul class="cart-items">
                            {% for item in cart_items %}
                                <li>
                                    <div class="item-info">
                                        <img src="{{ item.product.picture_in_browsing.url }}" alt="{{ item.product.product_id }}">
                                        <p>{{ item.product.product_name }}</p>
                                    </div>
                                    <div class="item-actions">
                                        <p>數量: {{ item.quantity }}</p>
                                        <p>價格: ${{ item.product.price }}</p>
                                        <!-- Add more item information as needed -->
                                    </div>
                                </li>
                                <!-- #????? -->
                                <a href="{% url 'remove_from_cart' item.id %}">刪除商品</button>
                            {% endfor %}
                        </form>
                    </ul>
                    <div class="cart-total">
                        <p>總計: ${{ cart_total }}</p>
                    </div>
                    <a href="{% url 'checkout' %}">結帳</a>
                {% else %}
                    <p>購物車是空的。</p>
                {% endif %}
            </div>
        </main>
        {% include 'footer.html'%}
    </div>
</body>
</html>
