
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.2rem;
}.item--XF3 {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.item--XF3 .property-1-pjw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-18-ESH {
  margin: 0rem 4.2rem 0.9rem 0.1rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 4.3rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-18-ESH .item--8nZ {
  margin-right: 1.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-18-ESH .chevron-down-Qzy {
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-19-9xZ {
  width: 100%;
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-19-9xZ .new-in-677 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-19-9xZ .new-in-Cfw {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1-pjw .frame-19-9xZ .new-in-vbw {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-18-cDs {
  margin: 0rem 4.2rem 0.9rem 0.1rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-18-cDs .item--LQm {
  margin-right: 1.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-18-cDs .chevron-down-4Lm {
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-19-yyX {
  width: 100%;
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-19-yyX .new-in-w9f {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-19-yyX .new-in-GBw {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant2-enq .frame-19-yyX .new-in-PXT {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-18-4tV {
  margin: 0rem 4.2rem 0.9rem 0.1rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-18-4tV .item--z1T {
  margin-right: 1.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-18-4tV .chevron-down-u8R {
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-19-r3f {
  width: 100%;
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-19-r3f .new-in-bmw {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-19-r3f .new-in-8ms {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant3-Wc5 .frame-19-r3f .new-in-fmo {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-18-WXX {
  margin: 0rem 4.2rem 0.9rem 0.1rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 4.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-18-WXX .item--cqT {
  margin-right: 1.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-18-WXX .chevron-down-iNh {
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-19-rjo {
  width: 100%;
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-19-rjo .new-in-DKT {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-19-rjo .new-in-9U1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant4-mZw .frame-19-rjo .new-in-4qs {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-18-Ma5 {
  margin: 0rem 4.2rem 0.9rem 0.1rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 4.3rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-18-Ma5 .item--61s {
  margin-right: 1.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-18-Ma5 .chevron-down-ows {
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-19-A1j {
  width: 100%;
  row-gap: 0.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-19-A1j .new-in-uk1 {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-19-A1j .new-in-3bK {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XF3 .property-1variant5-ChB .frame-19-A1j .new-in-NNh {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: rgba(0, 0, 0, 0.5);
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
