
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.2rem;
}.item--hyo {
  width: 100%;
  height: 24.1rem;
  overflow: hidden;
  position: relative;
  background-color: #f6f2ec;
  border-radius: 3rem;
}
.item--hyo .component-1-SgV {
  width: 39.7rem;
  height: 24rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
}
.item--hyo .component-1-SgV .auto-group-g4yb-b3b {
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 2.7rem 0.4rem 2.5rem 2.5rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  background-color: #c4bbb2;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-g4yb-b3b .item--6m3 {
  margin-right: 19.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-g4yb-b3b .item--ofT {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD {
  margin-right: 0.2rem;
  width: 39.5rem;
  height: 16.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .rectangle-21-Tzu {
  width: 36.1rem;
  height: 3.3rem;
  position: absolute;
  left: 1.5rem;
  top: 5.9rem;
  border: solid 0.1rem #c4bbb2;
  box-sizing: border-box;
  backdrop-filter: blur(0.2rem);
  background-color: #e4e3e2;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .rectangle-22-Nry {
  width: 39.5rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff -0%, rgba(251, 251, 251, 0.8975486159) 21.12%, rgba(225, 225, 225, 0.2159059793) 69.03%, rgba(217, 217, 217, 0) 100%);
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .rectangle-23-epV {
  width: 39.3rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 9.6rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 12.5%, rgba(225, 225, 225, 0.2159059793) 43.51%, rgba(251, 251, 251, 0.8975486159) 76.85%, #ffffff 112.5%);
  border-radius: 3rem;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 {
  box-sizing: border-box;
  padding: 1.6rem 2.1rem 0rem 2.1rem;
  width: 7.8rem;
  height: 10.4rem;
  position: absolute;
  left: 26.8rem;
  top: 2rem;
  overflow: hidden;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2009-MsK {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2005-GzH {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2004-ojK {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2003-jN5 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2002-fmX {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2001-oMw {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2000-YqK {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1999-hTK {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1998-qpR {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2006-nzZ {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1996-LFP {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1995-UsP {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1994-dVP {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1993-AkD {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1992-i13 {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1991-Shj {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1990-xg5 {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2007-qUy {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1988-m7j {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1987-7Bb {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1986-2ZT {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1985-NdK {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1984-KoT {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1983-GTo {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1982-oTj {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-2008-9nV {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1980-V5f {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1979-RED {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1978-Mdf {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1977-6LM {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1976-qYq {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1975-Zzd {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--jb3 .item-1974-hb3 {
  margin-left: 0.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw {
  box-sizing: border-box;
  padding: 1.9rem 0.4rem 0rem 0.4rem;
  width: 8rem;
  height: 10.4rem;
  position: absolute;
  left: 16.5rem;
  top: 1.7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-31-gC5 {
  margin: 0rem 1.4rem 1.9rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-1-DbK {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-2-Xc1 {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-3-qsb {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-4-N6q {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-5-gNR {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-6-D7T {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-7-jrV {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-8-2qb {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-9-kmb {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-10-sbK {
  margin: 0rem 0.5rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-11-PZf {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-12-iM3 {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-13-38R {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-14-NAh {
  margin: 0rem 0.5rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-15-6cV {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-16-cqj {
  margin: 0rem 0.5rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-17-YDb {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-18-G9b {
  margin: 0rem 0.5rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-19-ntd {
  margin: 0rem 0.5rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-20-vE9 {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-21-FXK {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-22-apV {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-23-iA1 {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-24-dnm {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-25-ZAd {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-26-V4H {
  margin: 0rem 0.4rem 0.8rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-27-cPo {
  margin: 0rem 0.8rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-28-wS5 {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-29-GUM {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-30-Q4m {
  margin: 0rem 0.4rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .auto-group-aopx-8Ff {
  margin: 0rem 1.5rem 1.5rem 0.7rem;
  width: calc(100% - 2.2rem);
  height: 1.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .auto-group-aopx-8Ff .item-31-qvm {
  width: 5rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .auto-group-aopx-8Ff .item-31-knq {
  width: 5rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-1-UTw {
  margin: 0rem 0.2rem 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Rmw .item-2-boT {
  margin-right: 0.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 {
  box-sizing: border-box;
  padding: 1.2rem 1.9rem 0rem 1.9rem;
  width: 12.6rem;
  height: 9.6rem;
  position: absolute;
  left: 3.9rem;
  top: 2.7rem;
  overflow: hidden;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .decemver-CYM {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .january-MAM {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .feburary-s8h {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .march-p3w {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .april-Z1X {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .may-tpV {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .june-qzd {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .july-axD {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .august-7x9 {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .september-FoT {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .october-Bh7 {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .november-KoK {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .decemver-g85 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .january-pzy {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hyo .component-1-SgV .auto-group-9zaw-jJD .item--Xx1 .feburary-Aow {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
