
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--qLR {
  width: 100%;
  height: 142.5rem;
  position: relative;
  overflow: hidden;
  background-color: #c4bbb2;
}
.item--qLR .item--mE5 {
  width: 34.1rem;
  height: 1.7rem;
  position: absolute;
  left: 2.5rem;
  top: 10.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--qLR .item--qjj {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 14.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--qLR .item--9VX {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 27.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--qLR .item--Tm7 {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 52.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--qLR .item--AfX {
  width: 10rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 92.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--qLR .item--GyT {
  width: 34.3rem;
  height: 6.5rem;
  position: absolute;
  left: 2.5rem;
  top: 18.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
}
.item--qLR .item--GyT .item--GyT-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--qLR .item--GyT .item--GyT-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--qLR .item-7-14-80-80--sVP {
  width: 34.3rem;
  height: 19rem;
  position: absolute;
  left: 2.5rem;
  top: 31.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--qLR .ex-80-1680-800-800-80--iuK {
  width: 34.1rem;
  height: 34.2rem;
  position: absolute;
  left: 2.7rem;
  top: 56.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--qLR .stone-baby-8-00-21-00-2023-11-18--NMb {
  width: 34.3rem;
  height: 22.8rem;
  position: absolute;
  left: 2.5rem;
  top: 96.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--qLR .rectangle-12-V4q {
  width: 39.3rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.5);
}
.item--qLR .group-48-1Yy {
  width: 34.4rem;
  height: 3rem;
  position: absolute;
  left: 2.4rem;
  top: 2rem;
  display: flex;
  align-items: flex-end;
}
.item--qLR .group-48-1Yy .stone-baby-8db {
  margin-right: 2.3rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.9635rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--qLR .group-48-1Yy .search-FTK {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--qLR .group-48-1Yy .user-AaH {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--qLR .group-48-1Yy .shopping-cart-u25 {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--qLR .group-48-1Yy .menu-dCy {
  margin-bottom: 0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
