
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--8yj {
  box-sizing: border-box;
  padding: 6.4rem 2.5rem 5rem 2.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f2ec;
  border-radius: 3.9rem;
}
.item--8yj .auto-group-a8az-ex5 {
  margin-bottom: 5.7rem;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.963rem;
  font-weight: 400;
  line-height: 1.205;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--8yj .auto-group-cstq-VC1 {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--8yj .auto-group-cstq-VC1 .auto-group-fdd7-cnR {
  margin-right: 2.1rem;
  width: 16.1rem;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.963rem;
  font-weight: 400;
  line-height: 1.205;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #c4bbb2;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.item--8yj .auto-group-cstq-VC1 .auto-group-uogh-zY5 {
  width: 16.1rem;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.963rem;
  font-weight: 400;
  line-height: 1.205;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.400000006);
  background-color: #c4bbb2;
  border-radius: 4.5rem;
  flex-shrink: 0;
}

.no-underline {
  text-decoration: none;
}

.option-container {
  /* width: 20px; */
  height: 230px;;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  transition: max-height 0.3s ease-in-out;
  position: absolute;
  margin-top: 0px;
  /* 或者調整為您需要的距離 */
  /* margin-block:; */
  /* display: flex; */
  /* 或者調整為您需要的距離 */
  top: 20px;
  right: 48px;
  /* justify-content: center; */
  background-color: #f6f2ec;
  /* padding: 20px; */
  opacity: 0;
  /* 初始隱藏 */
  pointer-events: none;
  /* 不可互動 */
  height: min-content;
}
