
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--yEm {
  width: 100%;
  height: 229.2rem;
  position: relative;
  background-color: #c4bbb2;
  border-radius: 1.5rem;
}
.item--yEm .auto-group-66ao-uu7 {
  box-sizing: border-box;
  padding: 1.8rem 4.2rem 1.4rem 2.5rem;
  width: 39.3rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 216rem;
  background-color: #d8d8d8;
}
.item--yEm .auto-group-66ao-uu7 .follow-us-1x9 {
  margin-bottom: 1.3rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-66ao-uu7 .stonebabygmailcom-vZK {
  max-width: 32.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--yEm .auto-group-vrfh-26Z {
  width: 39.3rem;
  height: 183.6rem;
  position: absolute;
  left: 0;
  top: 32.4rem;
}
.item--yEm .auto-group-vrfh-26Z .cooperation-XZ7 {
  width: 21.4rem;
  height: 1.7rem;
  cursor: pointer;
  position: absolute;
  left: 2.6rem;
  top: 165.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .introduction-2Ey {
  width: 21.4rem;
  height: 1.9rem;
  cursor: pointer;
  position: absolute;
  left: 2.6rem;
  top: 162.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .coupon-vr9 {
  width: 21.4rem;
  height: 1.9rem;
  position: absolute;
  left: 2.6rem;
  top: 160rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .privacy-dEm {
  width: 25.2rem;
  height: 1.8rem;
  position: absolute;
  left: 2.5rem;
  top: 180.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .terms-LQ5 {
  width: 25.2rem;
  height: 1.4rem;
  position: absolute;
  left: 2.5rem;
  top: 178.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .after-sales-service-3ZP {
  width: 25.2rem;
  height: 1.4rem;
  cursor: pointer;
  position: absolute;
  left: 2.5rem;
  top: 175.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .how-to-buy-YW9 {
  width: 25.2rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  left: 2.5rem;
  top: 172.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .about-us-Td7 {
  width: 18.3rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 156.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .service-m81 {
  width: 16.8rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 169.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fjcx-UYD {
  width: 25.2rem;
  height: 2.4rem;
  position: absolute;
  left: 7.1rem;
  top: 52.4rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fjcx-UYD .nt250-QRs {
  margin-right: 10.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fjcx-UYD .nt300-ixM {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-j3jh-rHs {
  width: 29rem;
  height: 2rem;
  position: absolute;
  left: 5.5rem;
  top: 50rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-j3jh-rHs .item--nhK {
  margin-right: 6.9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-j3jh-rHs .item--6T7 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-ucm1-Qih {
  width: 34.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.6rem;
  top: 55.4rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-ucm1-Qih .group-31-YK7 {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-ucm1-Qih .group-31-YK7 .shopping-cart-s6V {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-ucm1-Qih .group-33-MXT {
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-ucm1-Qih .group-33-MXT .shopping-cart-tnH {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-emqw-QVj {
  width: 34.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.6rem;
  top: 86rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-emqw-QVj .auto-group-p3yf-vys {
  margin-right: 1.9rem;
  width: 16.1rem;
  height: 3.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-emqw-QVj .group-35-4aH {
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-emqw-QVj .group-35-4aH .shopping-cart-bq7 {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-mbxp-vMb {
  width: 34.2rem;
  height: 16.9rem;
  position: absolute;
  left: 2.6rem;
  top: 32.1rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-mbxp-vMb .rectangle-6-TcR {
  margin-right: 1.8rem;
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-mbxp-vMb .rectangle-7-C4D {
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-g5cx-8Tf {
  width: 23.9rem;
  height: 2.4rem;
  position: absolute;
  left: 7.7rem;
  top: 83rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-g5cx-8Tf .nt50-GJy {
  margin-right: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-g5cx-8Tf .nt35-bMF {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zamz-XEu {
  width: 29.8rem;
  height: 2rem;
  position: absolute;
  left: 4.7rem;
  top: 80.6rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zamz-XEu .item--rny {
  margin-right: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zamz-XEu .item--yMo {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dqg3-6BX {
  width: 34.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.6rem;
  top: 116.6rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dqg3-6BX .group-36-Rjb {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dqg3-6BX .group-36-Rjb .shopping-cart-xjX {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dqg3-6BX .group-37-t7P {
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dqg3-6BX .group-37-t7P .shopping-cart-dKs {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pc9q-Lk5 {
  width: 34.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.6rem;
  top: 147.2rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pc9q-Lk5 .group-38-g3F {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pc9q-Lk5 .group-38-g3F .shopping-cart-cBo {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pc9q-Lk5 .group-39-j1X {
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pc9q-Lk5 .group-39-j1X .shopping-cart-55P {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-suyr-o1P {
  width: 34.2rem;
  height: 16.9rem;
  position: absolute;
  left: 2.6rem;
  top: 62.7rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-suyr-o1P .rectangle-8-vrh {
  margin-right: 1.8rem;
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-suyr-o1P .rectangle-9-4CD {
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-uj47-oQh {
  width: 24.5rem;
  height: 2.4rem;
  position: absolute;
  left: 7.2rem;
  top: 113.6rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-uj47-oQh .nt150-inZ {
  margin-right: 11.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-uj47-oQh .nt90-3Zw {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-bdrt-yiV {
  width: 28.1rem;
  height: 2rem;
  position: absolute;
  left: 5.5rem;
  top: 111.2rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-bdrt-yiV .item--iAH {
  margin-right: 7.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-bdrt-yiV .item--pUD {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-gykk-Y9K {
  width: 34.2rem;
  height: 16.9rem;
  position: absolute;
  left: 2.6rem;
  top: 93.3rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-gykk-Y9K .rectangle-6-UHs {
  margin-right: 1.8rem;
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-gykk-Y9K .rectangle-7-ob3 {
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-z7is-jzV {
  width: 25.2rem;
  height: 2.4rem;
  position: absolute;
  left: 7.7rem;
  top: 144.2rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-z7is-jzV .nt50-UBP {
  margin-right: 10.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-z7is-jzV .nt1000-nC5 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fc1r-KC1 {
  width: 27.2rem;
  height: 2rem;
  position: absolute;
  left: 6.4rem;
  top: 141.8rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fc1r-KC1 .item--qg9 {
  margin-right: 8.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-fc1r-KC1 .item--ko7 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-a6ys-UUD {
  width: 34.2rem;
  height: 16.9rem;
  position: absolute;
  left: 2.6rem;
  top: 123.9rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-a6ys-UUD .rectangle-8-1j3 {
  margin-right: 1.8rem;
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-a6ys-UUD .rectangle-9-9aM {
  width: 16.2rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zkfh-h65 {
  width: 34.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.6rem;
  top: 24.8rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zkfh-h65 .group-29-2e9 {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zkfh-h65 .group-29-2e9 .shopping-cart-y3b {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zkfh-h65 .group-30-4qj {
  box-sizing: border-box;
  padding: 0.8rem 6.9rem 0.6rem 7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d8d8d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-zkfh-h65 .group-30-4qj .shopping-cart-1W5 {
  width: 2.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-cdnt-XDX {
  width: 24rem;
  height: 2.4rem;
  position: absolute;
  left: 7.7rem;
  top: 21.8rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-cdnt-XDX .nt60-FvD {
  margin-right: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-cdnt-XDX .nt70-nfF {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dbfz-8UD {
  width: 27.3rem;
  height: 2rem;
  position: absolute;
  left: 6.4rem;
  top: 19.4rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dbfz-8UD .item--4sf {
  margin-right: 8.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-dbfz-8UD .item--PQ9 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2050000359;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pbst-udP {
  width: 34.2rem;
  height: 16.9rem;
  position: absolute;
  left: 2.6rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pbst-udP .auto-group-ctdm-y7T {
  margin-right: 1.8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-4-bg.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pbst-udP .auto-group-ctdm-y7T .rectangle-10-iqj {
  width: 16.2rem;
  height: 16.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.item--yEm .auto-group-vrfh-26Z .auto-group-pbst-udP .rectangle-5-25j {
  width: 16.2rem;
  height: 16.9rem;
  position: relative;
  background-size: 104.321% 100%;
  background-position: -0.35rem 0;
  background-image: url('../assets/rectangle-5.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--yEm .auto-group-vrfh-26Z .line-2-KKj {
  width: 34.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.5rem;
  top: 154rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.item--yEm .top-10-eN1 {
  width: 18.8rem;
  height: 2rem;
  position: absolute;
  left: 10.3rem;
  top: 30.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--yEm .rectangle-2-8ny {
  width: 39.3rem;
  height: 22.1rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--yEm .rectangle-1-GPP {
  width: 39.3rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.5);
}
.item--yEm .group-1-oPK {
  width: 34.4rem;
  height: 3rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  display: flex;
  align-items: flex-end;
}

.item--yEm .group-1-oPK .stone-baby-8Ah {
  margin-right: 2.3rem;
  text-align: center;
  font-size: 2.9635rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.item--yEm .group-1-oPK img {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}


.menu-container {
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  transition: max-height 0.3s ease-in-out;
  position: absolute;
  margin-top: 28px; /* 或者調整為您需要的距離 */
  margin-right: -47px; /* 或者調整為您需要的距離 */
  top: 20px;
  right: 20px;
  background-color: #f6f2ec;
  padding: 20px;
  opacity: 0; /* 初始隱藏 */
  pointer-events: none; /* 不可互動 */
}

/* 初始隱藏最上面的首頁 */
.item--L1j {
  display: none;
}


.item--vyb {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item--vyb .item--Dho {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}






.item--vyb .item--Dho .item--L1j {
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--E77 {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .frame-20-9E5 {
  margin: 0rem 12.775rem 0.963rem 0.2rem;
  box-sizing: border-box;
  padding-right: 0.6rem;
  width: calc(100% - 12.9752rem);
  height: 2.5367rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--vyb .item--Dho .frame-20-9E5 .item--3aM {
  margin: 0rem 1.125rem 0.137rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .frame-20-9E5 .chevron-down-8rh {
  margin-top: 0.1367rem;
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--vyb .item--Dho .auto-group-mlwd-TPB {
  margin: 0rem 0rem 1.7rem 0.2rem;
  box-sizing: border-box;
  padding: 0.9rem 0rem 0.3rem 0rem;
  width: 15.5rem;
  flex-shrink: 0;
}
.item--vyb .item--Dho .auto-group-mlwd-TPB .top-10-MzM {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--vyb .item--Dho .auto-group-mlwd-TPB .all-tUV {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
}
.item--vyb .item--Dho .line-5-2Ko {
  margin: 0rem 0rem 1.9rem 0.2rem;
  width: 23.7rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--wxZ {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2050000827;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--5J5 {
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--zR3 {
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .line-6-6ys {
  margin: 0rem 0rem 1.9rem 0.2rem;
  width: 23.7rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--RWM {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2050000827;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--vyb .item--Dho .item--Yqs {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2050000191;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


#searchContainer {
  visibility: hidden;
  position: absolute;
  z-index: 1; /* 或其他足夠大的值 */
  /* 其他樣式... */
}


.item--XfB {
  box-sizing: border-box;
  position: relative;
  margin-right: 50px; /* 設置整體右邊間距 */
  padding: 2.9rem 2.2rem 0.8rem 2.4rem;
  width: auto; /* 或者使用具體的寬度值 */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 0 1rem 1rem;
}

.item--XfB .auto-group-6qo5-2rq {
  margin: 0rem auto 0.7rem 0rem; /* 使用 auto 將左側黏著右邊，右側間距自動填滿 */
  width: calc(100% - 24.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.item--XfB .auto-group-6qo5-2rq .search-input {
  width: 500px;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none; /* 移除邊框 */
  outline: none;
}

/* 其他樣式保持不變 */

.item--XfB .auto-group-6qo5-2rq .search-Mu7 {
  margin-right: 2.1rem;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--XfB .auto-group-6qo5-2rq .item--u9w {
  z-index: 2; /* 可以調整為適當的值 */
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--XfB .line-1-cq3 {
  z-index: ; /* 可以調整為適當的值 */
  margin-left: 3.9rem;
  width: 30.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
