
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.item--B5w {
  width: 100%;
  height: 218.8rem;
  position: relative;
  overflow: hidden;
  background-color: #c4bbb2;
}
.item--B5w .item--u1w {
  width: 34.1rem;
  height: 1.7rem;
  position: absolute;
  left: 2.6rem;
  top: 10.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-40-b9f {
  width: 34.3rem;
  height: 6.2rem;
  position: absolute;
  left: 2.5rem;
  top: 14.4rem;
}
.item--B5w .group-40-b9f .item--vhj {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-40-b9f .stone-baby-7--ECd {
  max-width: 34.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-47-XBj {
  width: 34.2rem;
  height: 16.3rem;
  position: absolute;
  left: 2.5rem;
  top: 22.1rem;
}
.item--B5w .group-47-XBj .item--3vm {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-47-XBj .item-7--Zu7 {
  max-width: 34.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-41-6RB {
  width: 34.2rem;
  height: 5.8rem;
  position: absolute;
  left: 2.5rem;
  top: 39.9rem;
}
.item--B5w .group-41-6RB .item--23w {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-41-6RB .stone-baby--8sf {
  margin-left: 0.1rem;
  max-width: 34.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2050000599;
  color: #ff0000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-46-pEh {
  width: 34.3rem;
  height: 24rem;
  position: absolute;
  left: 2.5rem;
  top: 47.2rem;
}
.item--B5w .group-46-pEh .item--kPF {
  margin: 0rem 0rem 1.1rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 {
  max-width: 34.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 .facebook-7-11-7-9-493-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 .facebook-7-11-7-9-493-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 .facebook-7-11-7-9-493-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 .facebook-7-11-7-9-493-sub-3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-46-pEh .facebook-7-11-7-9-493 .facebook-7-11-7-9-493-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-45-4Cu {
  width: 34.3rem;
  height: 18.9rem;
  position: absolute;
  left: 2.5rem;
  top: 72.7rem;
}
.item--B5w .group-45-4Cu .item--oAV {
  margin: 0rem 0rem 1.1rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-45-4Cu .item-80--KPj {
  max-width: 34.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd {
  width: 34rem;
  height: 18.6rem;
  position: absolute;
  left: 2.5rem;
  top: 93.1rem;
}
.item--B5w .group-44-Wcd .item--SmB {
  margin: 0rem 0rem 1.2rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 {
  max-width: 34rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 .facebook-7-11-14-30--N93-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 .facebook-7-11-14-30--N93-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 .facebook-7-11-14-30--N93-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 .facebook-7-11-14-30--N93-sub-3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-44-Wcd .facebook-7-11-14-30--N93 .facebook-7-11-14-30--N93-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-43-Mx1 {
  width: 34.3rem;
  height: 16.4rem;
  position: absolute;
  left: 2.5rem;
  top: 113.2rem;
}
.item--B5w .group-43-Mx1 .item--hW5 {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-43-Mx1 .item--SCm {
  max-width: 34.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .group-42-6Rj {
  width: 34.3rem;
  height: 22.5rem;
  position: absolute;
  left: 2.5rem;
  top: 131.1rem;
}
.item--B5w .group-42-6Rj .item--q8R {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
}
.item--B5w .group-42-6Rj .item-15-05--Lay {
  max-width: 34.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .stone-baby-stone-baby-8-00-21-00-2023-11-18--JJq {
  width: 34.3rem;
  height: 16rem;
  position: absolute;
  left: 2.5rem;
  top: 155.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2050000429;
  color: #000000;
  font-family: Telex, 'Source Sans Pro';
}
.item--B5w .rectangle-11-RGy {
  width: 39.3rem;
  height: 6.9rem;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.5);
}
.item--B5w .group-40-x21 {
  width: 34.4rem;
  height: 3rem;
  position: absolute;
  left: 2.4rem;
  top: 2rem;
  display: flex;
  align-items: flex-end;
}
.item--B5w .group-40-x21 .stone-baby-gCu {
  margin-right: 2.3rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.9635rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Sulphur Point, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--B5w .group-40-x21 .search-Ch3 {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--B5w .group-40-x21 .user-Kmf {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--B5w .group-40-x21 .shopping-cart-4DT {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--B5w .group-40-x21 .menu-axV {
  margin-bottom: 0.1rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
