
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.android-keyboard-GEh {
  width: 100%;
  height: 24.8rem;
  overflow: hidden;
  position: relative;
}
.android-keyboard-GEh .keyboard-zwP {
  box-sizing: border-box;
  padding: 0.813rem 0.437rem 0.813rem 0.437rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-3.png');
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 {
  margin-bottom: 0.6098rem;
  width: 100%;
  height: 3.8623rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-dUZ {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-dUZ .rectangle-4-AzH {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-dUZ .item-1-hzD {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 1.0917rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-mjB {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-mjB .rectangle-4-KEu {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-mjB .item-2-FeM {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-22-Z9F {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-22-Z9F .rectangle-4-WKP {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-22-Z9F .item-3-r8M {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-3-xBP {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-3-xBP .rectangle-4-VSD {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-3-xBP .item-4-Eub {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-23-8zy {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-23-8zy .rectangle-4-sxZ {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-23-8zy .item-5-RUH {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-25-LLM {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-25-LLM .rectangle-4-tMs {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-25-LLM .item-6-2ys {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-21-YBX {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-21-YBX .rectangle-4-h4R {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-21-YBX .item-7-eEZ {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-7-Mem {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-7-Mem .rectangle-4-789 {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-7-Mem .item-8-3Xb {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-24-Yz9 {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-24-Yz9 .rectangle-4-VuP {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-24-Yz9 .item-9-FNm {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-9-xHB {
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-9-xHB .rectangle-4-WJh {
  width: 3.275rem;
  height: 3.8623rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-26-Jx5 .group-7-copy-9-xHB .item-0-FGH {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9825rem;
  top: 0.4066rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy {
  margin-bottom: 0.6098rem;
  width: 100%;
  height: 4.0656rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-tKF {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-tKF .rectangle-4-Ee1 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-tKF .q-nQd {
  width: 1.7rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8024rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6AR {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6AR .rectangle-4-Sk5 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6AR .w-CUM {
  width: 2.2rem;
  height: 2.8rem;
  position: absolute;
  left: 0.5408rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-2-udf {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-2-udf .rectangle-4-TfB {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-2-udf .e-Csf {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9584rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-3-X9F {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-3-X9F .rectangle-4-rxD {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-3-X9F .r-1KK {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8964rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-4-X2m {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-4-X2m .rectangle-4-GW9 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-4-X2m .t-QsF {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9214rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-5-j8q {
  margin-right: 0.7642rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-5-j8q .rectangle-4-Us7 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-5-j8q .y-qBs {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9162rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6-LPX {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6-LPX .rectangle-4-HJm {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-6-LPX .u-q5P {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8535rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-7-YVb {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-7-YVb .rectangle-4-tZT {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-7-YVb .i-EdK {
  width: 0.7rem;
  height: 2.8rem;
  position: absolute;
  left: 1.3467rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-8-kLm {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-8-kLm .rectangle-4-uDf {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-8-kLm .o-FHX {
  width: 1.7rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8024rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-9-MrM {
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-9-MrM .rectangle-4-KYH {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-16-ZGy .group-8-copy-9-MrM .p-51f {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8766rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF {
  margin: 0rem 1.965rem 0.61rem 1.965rem;
  width: calc(100% - 3.93rem);
  height: 4.0656rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-10-tjo {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-10-tjo .rectangle-4-SFX {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-10-tjo .a-NQ5 {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8484rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-11-5ZP {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-11-5ZP .rectangle-4-dau {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-11-5ZP .s-BcR {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9258rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-12-hqf {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-12-hqf .rectangle-4-riZ {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-12-hqf .d-bw3 {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.844rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-13-vCd {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-13-vCd .rectangle-4-GnH {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-13-vCd .f-2WZ {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9789rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-14-kSZ {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-14-kSZ .rectangle-4-6WR {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-14-kSZ .g-F8R {
  width: 1.7rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8107rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-15-Mx9 {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-15-Mx9 .rectangle-4-Wa9 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-15-Mx9 .h-GJR {
  width: 1.8rem;
  height: 2.8rem;
  position: absolute;
  left: 0.7691rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-16-nGm {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-16-nGm .rectangle-4-8Ld {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-16-nGm .j-Gxd {
  width: 1.4rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9802rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-17-PnM {
  margin-right: 0.655rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-17-PnM .rectangle-4-k77 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-17-PnM .k-h2M {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8817rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-18-Cjo {
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-18-Cjo .rectangle-4-9uw {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-17-PHF .group-8-copy-18-Cjo .l-Jnq {
  width: 1.3rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9981rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB {
  margin-bottom: 0.8131rem;
  width: 100%;
  height: 4.0656rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-9-Zyf {
  margin-right: 0.655rem;
  width: 5.4583rem;
  height: 4.0656rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP {
  margin-right: 0.655rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-19-Fbb {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-19-Fbb .rectangle-4-Cmj {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-19-Fbb .z-Yah {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.9188rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-20-Tjb {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-20-Tjb .rectangle-4-1WD {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-20-Tjb .x-Z1w {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8817rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-21-GBF {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-21-GBF .rectangle-4-R49 {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-21-GBF .c-MyP {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8503rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-22-TWd {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-22-TWd .rectangle-4-QAy {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-22-TWd .v-kEq {
  width: 1.6rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8695rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-23-4mK {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-23-4mK .rectangle-4-pVb {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-23-4mK .b-ZTB {
  width: 1.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0.8875rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-24-5Ad {
  margin-right: 0.5458rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-24-5Ad .rectangle-4-Qyb {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-24-5Ad .n-Mtq {
  width: 1.8rem;
  height: 2.8rem;
  position: absolute;
  left: 0.7691rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-25-Gku {
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-25-Gku .rectangle-4-ESq {
  width: 3.275rem;
  height: 4.0656rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-18-7VP .group-8-copy-25-Gku .m-mxZ {
  width: 2.1rem;
  height: 2.8rem;
  position: absolute;
  left: 0.5593rem;
  top: 0.5082rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .group-19-pmB .group-11-tGV {
  width: 5.4583rem;
  height: 4.0656rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs {
  width: 100%;
  height: 4.4721rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX {
  margin-right: 0.4367rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-10-jY1 {
  margin-right: 0.4367rem;
  width: 5.4583rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-10-jY1 .rectangle-4-gi9 {
  width: 5.4583rem;
  height: 4.4721rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-QN9.png');
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-10-jY1 .rectangle-4-gi9 .vector-32u {
  width: 5.4583rem;
  height: 4.4721rem;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-10-jY1 .item-123-mDo {
  width: 3.5rem;
  height: 1.9rem;
  position: absolute;
  left: 0.9002rem;
  top: 1.2197rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-26-4To {
  margin-right: 0.4367rem;
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-26-4To .rectangle-4-DLh {
  width: 3.275rem;
  height: 4.4721rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-26-4To .item--ZfT {
  width: 0.4rem;
  height: 2.3rem;
  position: absolute;
  left: 1.4232rem;
  top: 1.3213rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-15-sg9 {
  margin-right: 0.4367rem;
  width: 19.3225rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-15-sg9 .rectangle-4-2ow {
  width: 19.3225rem;
  height: 4.4721rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Eqb.png');
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-15-sg9 .rectangle-4-2ow .vector-nHK {
  width: 19.3225rem;
  height: 4.4721rem;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-15-sg9 .en-lv-K2M {
  width: 4.5rem;
  height: 1.6rem;
  position: absolute;
  left: 7.149rem;
  top: 1.3213rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-27-DNd {
  width: 3.275rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-27-DNd .rectangle-4-Aof {
  width: 3.275rem;
  height: 4.4721rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .group-20-zKX .group-8-copy-27-DNd .item--vH3 {
  width: 0.6rem;
  height: 2.3rem;
  position: absolute;
  left: 1.3502rem;
  top: 1.3213rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.android-keyboard-GEh .keyboard-zwP .auto-group-uzmz-djs .action-button-cvZ {
  width: 5.3492rem;
  height: 4.4721rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
