/* view_profile.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.main-container {
    position: relative;
}

nav {
    background-color: #c4bbb2;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    height: 100%;
    align-items: center;
}

.navbar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px;
}

.navbar a:hover {
    color: black;
}

.navbar li:first-child {
    float: left;
}

.navbar li {
    float: right;
}

main {
    background-color: #adadad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-profile-container {
    background-color: #c4bbb2; /* 设置背景颜色 */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #c4bbb2;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.footer-section {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-section-left {
    text-align: right;
}

.footer-section-right {
    text-align: left;
}

.footer-section h4 {
    color: #333;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.footer-section ul li {
    margin-bottom: 10px;
    position: relative;
}

.footer-section ul li:before {
    color: #333;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-section a {
    text-decoration: none;
    color: #000;
}

.footer-section a:hover {
    text-decoration: underline;
}
