/* products.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* 修改文字颜色 */
}

.main-container {
    position: relative;
}

nav {
    background-color: #c4bbb2;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    height: 100%; /* 調整高度 */
    align-items: center; /* 垂直置中 */
}

.navbar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0 16px; /* 調整 padding */
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px; /* 調整行高 */
}

.navbar a:hover {
    color: black;
}

/* 將主頁靠左，其他項目靠右 */
.navbar li:first-child {
    float: left;
}

.navbar li {
    float: right;
}

main {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    width: 23%;
    margin: 10px 10px;
    text-align: center;
    border: 1px solid #ddd; /* Add border for the product box */
    padding: 15px; /* Add padding inside the product box */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: box-shadow 0.3s ease; /* Add a smooth transition for box shadow */
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
}

.product a {
    text-decoration: none;
    color: #333;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
}

.product span {
    display: block;
    margin-top: 5px;
    color: #27ae60;
    font-weight: bold;
}

.footer-info {
    background-color: #c4bbb2;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #333;
}

/* Add additional styling as needed */
