/* home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* 修改文字颜色 */
}

.main-container {
    position: relative;
}

nav {
    background-color: #c4bbb2;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    height: 100%; /* 調整高度 */
    align-items: center; /* 垂直置中 */
}

.navbar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0 16px; /* 調整 padding */
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px; /* 調整行高 */
}

.navbar a:hover {
    color: black;
}

/* 將主頁靠左，其他項目靠右 */
.navbar li:first-child {
    float: left;
}

.navbar li {
    float: right;
}

main {
    flex-grow: 1;
    padding: 2em;
}

.product-detail {
    text-align: center;
}

.product-detail img {
    max-width: 30%;
    height: auto;
}

.product-detail h1 {
    margin-top: 0;
}

.product-detail p {
    margin-bottom: 1em;
}

.footer-info {
    background-color: #c4bbb2;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #333;
}

/* Add additional styling as needed */
