/* home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* 修改文字颜色 */
}

.main-container {
    position: relative;
}

nav {
    background-color: #c4bbb2;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    height: 100%; /* 調整高度 */
    align-items: center; /* 垂直置中 */
}

.navbar a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0 16px; /* 調整 padding */
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px; /* 調整行高 */
}

.navbar a:hover {
    color: black;
}

/* 將主頁靠左，其他項目靠右 */
.navbar li:first-child {
    float: left;
}

.navbar li {
    float: right;
}

main {
    background-color: #adadad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
}

.registration-choice-container {
    background-color: #c4bbb2;
    border-color: #333;
    border-style:solid;
    width: 500px; /* 设置宽度 */
    height: 100px; /* 设置高度 */
    border-radius: 10px;
    text-align: center;
}

.registration-choice-form {
    display: inline-block;
    margin-top: 20px;
}

.registration-choice-form label {
    margin: 0 10px;
    font-size: 18px;
}

.registration-choice-form input {
    margin: 0 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Add the necessary styling for the registration page */
.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
    color: #333;
}

.registration-link {
    background-color: #4CAF50;
    color: #333;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.registration-link:hover {
    background-color: #45a049;
}

.register-form {
    max-width: 400px;
    margin: 0 auto;
}

.register-form div {
    margin-bottom: 15px;
}

.register-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #c4bbb2;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styling as needed for the registration page */


footer {
    background-color: #c4bbb2;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.footer-section {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-section-left {
    text-align: right;
}

.footer-section-right {
    text-align: left;
}

.footer-section h4 {
    color: #333;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.footer-section ul li {
    margin-bottom: 10px;
    position: relative;
}

.footer-section ul li:before {
    color: #333;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-section a {
    text-decoration: none;
    color: #000;
}

.footer-section a:hover {
    text-decoration: underline;
}